Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - --dry-run
  - --Werror

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - --check

update descr
  .github/actions/bump-version/action.yml
Due: none

separate push into separate step
  .github/actions/bump-version/action.yml
Due: none

changes based on Nic's comments
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/monomer_directions.cpp
  src/schrodinger/rdkit_extensions/monomer_directions.h
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
Due: clang-format

removing debugging output
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
Due: clang-format

SKETCH-2483: Improvements for monomer hint structures
  src/schrodinger/sketcher/molviewer/monomer_attachment_point_labels.cpp
  src/schrodinger/sketcher/molviewer/monomer_attachment_point_labels.h
  src/schrodinger/sketcher/molviewer/monomer_hint_fragment_item.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool.cpp
Due: clang-format

SKETCH-2703: Add dry-run option for version bump action (#272)
  .github/actions/bump-version/action.yml
Due: none

updating docstring to mention longer diagonal bonds
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
Due: clang-format

pr suggestion
  src/schrodinger/sketcher/molviewer/coord_utils.cpp
Due: clang-format

NOJIRAID: For wasm tests, make build dir more configurable
  test/wasm/playwright.config.js
Due: prettier

NOJIRAID: For playwright make build dir location more configurable (#253)
  test/wasm/playwright.config.js
Due: prettier

SKETCHER-2701: Add methodology for interaction-based testing
  src/app/main.cpp
  test/wasm/e2e/__snapshots__/drawing.test.js/e2e-draw-bond.png
  test/wasm/e2e/drawing.test.js
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/import.test.js
  test/wasm/e2e/toolbar.test.js
  test/wasm/e2e/undo_redo.test.js
  test/wasm/playwright.config.js
Due: clang-format, prettier

SKETCH-2701: Add methodology for interaction-based testing (#249)
  src/app/main.cpp
  test/wasm/e2e/__snapshots__/drawing.test.js/e2e-draw-bond.png
  test/wasm/e2e/drawing.test.js
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/import.test.js
  test/wasm/e2e/toolbar.test.js
  test/wasm/e2e/undo_redo.test.js
  test/wasm/playwright.config.js
Due: clang-format, prettier

Update version.json
  version.json
Due: none

Reset the 26-1 build number to make Schrodinger Suite
  version.json
Due: none

Bump version for 2026.2.87
  version.json
Due: none

Create version for 2026.3.1
  version.json
Due: none

SKETCH-2631: Provide ability to mutate monomers from toolbar
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/monomer_mutation.test.js
Due: clang-format, prettier

SKETCH-2711: Rearrange selection tools in side bar
  src/schrodinger/sketcher/ui/select_options_widget.ui
  src/schrodinger/sketcher/widget/select_options_widget.cpp
  src/schrodinger/sketcher/widget/select_options_widget.h
  test/schrodinger/sketcher/widget/test_select_options_widget.cpp
Due: clang-format

SKETCH-2711: Normalize select/move/erase icon sizes to 30×30
  src/schrodinger/sketcher/ui/select_options_widget.ui
Due: none

SKETCH-2631: Provide ability to mutate monomers from toolbar (#254)
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/monomer_mutation.test.js
Due: clang-format, prettier

SKETCH-2711: Add breathing room above and below SELECT label
  src/schrodinger/sketcher/ui/select_options_widget.ui
Due: none

SKETCH-2711: Reduce select/move/erase icon sizes to 28×28
  src/schrodinger/sketcher/ui/select_options_widget.ui
Due: none

SKETCH-2711: Reduce select/move/erase icon sizes to 26×26
  src/schrodinger/sketcher/ui/select_options_widget.ui
Due: none

SKETCH-2707: validate helm monomers
  include/schrodinger/rdkit_extensions/monomer_mol.h
  src/schrodinger/rdkit_extensions/helm/to_rdkit.cpp
  src/schrodinger/rdkit_extensions/helm/to_rdkit.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
Due: clang-format

SHARED-12142: Implement k-mer extraction for biologics fingerprints
  src/schrodinger/rdkit_extensions/biologics_fingerprint.cpp
  src/schrodinger/rdkit_extensions/biologics_fingerprint.h
  test/schrodinger/rdkit_extensions/test_biologics_fingerprint.cpp
Due: clang-format

SHARED-12159: Extend biologics fingerprint to account for cyclic queries
  src/schrodinger/rdkit_extensions/biologics_fingerprint.cpp
  test/schrodinger/rdkit_extensions/test_biologics_fingerprint.cpp
Due: clang-format

SHARED-12180: Improve biologics fingerprint for large biologics
  src/schrodinger/rdkit_extensions/biologics_fingerprint.cpp
  src/schrodinger/rdkit_extensions/biologics_fingerprint.h
  test/schrodinger/rdkit_extensions/test_biologics_fingerprint.cpp
Due: clang-format

SHARED-12155: Fix SQL injection in canonicalize_db()
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
Due: clang-format

SHARED-12173: Fix stale SMILES enumeration cache in findHelmSymbol
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

SHARED-12114: Merge some terminal monomers
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

SHARED-12114: toMonomeric: handle intrachain rings
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

wasm_monomer_custom_db
  src/app/main.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

import custom monomer
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  test/schrodinger/rdkit_extensions/test_conversions.cpp
Due: clang-format

Custom monomers in brackets
  test/schrodinger/rdkit_extensions/test_conversions.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

Path conditions:
  clang-format: any of: \.(cpp|h)$
  prettier: any of: \.js$
