Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: [--dry-run, --Werror]
      - id: prettier
        name: prettier
        entry: npx prettier
        language: system
        files: \.js$
        args: [--check]

SHARED-12408: Preserve user properties during biologics registration (#10022)
  include/schrodinger/rdkit_extensions/helm.h
  include/schrodinger/rdkit_extensions/molops.h
  src/schrodinger/rdkit_extensions/molops.cpp
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
  test/schrodinger/rdkit_extensions/test_molops.cpp
Due: clang-format

refactor C++ to return a pair
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
Due: clang-format

update wasm wrappers
  src/app/main.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2759: Preserve explicit crossed-bond marker through paste
  src/schrodinger/sketcher/rdkit/mol_update.cpp
  test/schrodinger/sketcher/rdkit/test_stereochemistry.cpp
Due: clang-format

SKETCH-2759: Add test that unspecified SMILES stereo resolves
  test/schrodinger/sketcher/rdkit/test_stereochemistry.cpp
Due: clang-format

SKETCH-2759: Add test that SMILES E/Z stereo is not clobbered
  test/schrodinger/sketcher/rdkit/test_stereochemistry.cpp
Due: clang-format

SKETCH-2759: Preserve crossed double-bond marker from SDF/molblock paste (#306)
  src/schrodinger/sketcher/rdkit/mol_update.cpp
  test/schrodinger/sketcher/rdkit/test_stereochemistry.cpp
Due: clang-format

SKETCH-2772: Anchor wheel zoom at the cursor
  src/schrodinger/sketcher/molviewer/view.cpp
  src/schrodinger/sketcher/molviewer/view.h
  test/schrodinger/sketcher/molviewer/test_view.cpp
Due: clang-format

remove non-wasm interfaces
  src/app/main.cpp
Due: clang-format

SKETCH-2795: Enable monomer sketcher in 26-4 (#375)"
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/main.cpp
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/wasm/e2e/__snapshots__/drawing.test.js/e2e-draw-bond.png
  test/wasm/e2e/analog.test.js
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/monomer_mutation.test.js
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2782: get_residue_number_for_new_monomer now uses one residue number per monomer, even for nucleic acids (#372)
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2797: Fixing highlighting path generation (#380)
  src/schrodinger/sketcher/molviewer/abstract_highlighting_item.cpp
Due: clang-format

NOJIRAID: Bump macOS to version 26
  .github/workflows/sketcher-builder.yml
Due: none

Patch Qt qyieldcpu.h to include <arm_acle.h> for clang 21
  external/CMakeLists.txt
  external/qt_yield_acle_patch.cmake
Due: none

SKETCH-2649: is_polymer_annotation_s_group no longer requires ANNOTATION and ID properties (#378)
  src/schrodinger/rdkit_extensions/helm/helm_utils.cpp
  test/schrodinger/rdkit_extensions/test_helm_utils.cpp
Due: clang-format

SKETCH-2804: updating Eigen and MSVC paths
  premake
Due: none

SHARED-12499: Catch sanitization errors when enumerating SMILES (#10086)
  src/schrodinger/rdkit_extensions/monomer_database.cpp
Due: clang-format

SHARED-12505: allow aromatic nitrogen in peptide bonds (#10100)
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

SHARED-12512: Sort complex monomer queries by size (#10164)
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
Due: clang-format

SHARED-12519: honor allow_smiles flag for 1-monomer chains (#10184)
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

SKETCH-2807: Exposing image_generation API via JavaScript for Bunsen
  src/app/main.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

updating EIGEN_DIR based on package factory PR change
  premake
Due: none

Now using `which cl.exe` to find the compiler executable
  premake
Due: none

SKETCH-2804: updating Eigen and MSVC paths (#381)
  premake
Due: none

moving new code to separate files to avoid adding large amounts of emscripten-only internals to main.cpp
  CMakeLists.txt
  src/app/image_generation_from_js.cpp
  src/app/image_generation_from_js.h
  src/app/main.cpp
Due: clang-format

SKETCH-2802: Fixing valgrind error from trying to paint an empty bond annotation at an uninitialized angle
  src/schrodinger/sketcher/molviewer/bond_item.cpp
  src/schrodinger/sketcher/molviewer/bond_item.h
  test/schrodinger/sketcher/molviewer/test_bond_item.cpp
Due: clang-format

Patch Qt qyieldcpu.h to include <arm_acle.h> for clang 21
  .github/workflows/sketcher-builder.yml
  external/CMakeLists.txt
  external/qt_yield_acle_patch.cmake
Due: none

Bump macOS to version 26 (#373)
  .github/workflows/sketcher-builder.yml
  external/CMakeLists.txt
  external/qt_yield_acle_patch.cmake
Due: none

SKETCH-2812: Improving performance of highlighting path merging
  src/schrodinger/sketcher/molviewer/abstract_highlighting_item.cpp
Due: clang-format

SKETCH-2802: Fixing valgrind error from trying to paint an empty bond annotation at an uninitialized angle (#384)
  src/schrodinger/sketcher/molviewer/bond_item.cpp
  src/schrodinger/sketcher/molviewer/bond_item.h
  test/schrodinger/sketcher/molviewer/test_bond_item.cpp
Due: clang-format

SKETCH-2812: Improving performance of highlighting path merging (#385)
  src/schrodinger/sketcher/molviewer/abstract_highlighting_item.cpp
Due: clang-format

Migrate squish 2D sketcher tests to Playwright e2e
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.cxsmi
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.cxsmiles
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.ent
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.inchi
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.mdl
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.mol
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.pdb
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.sd
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.sdf
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.smi
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.smiles
  test/wasm/e2e/fixtures/miscellaneous_structures/one.mae
  test/wasm/e2e/fixtures/miscellaneous_structures/two.mae
  test/wasm/e2e/fixtures/problematic_structures/100_ideas.sdf
  test/wasm/e2e/fixtures/problematic_structures/3-pyridyl.sdf
  test/wasm/e2e/fixtures/problematic_structures/Input_No_H.sdf
  test/wasm/e2e/fixtures/problematic_structures/T1.mae
  test/wasm/e2e/fixtures/problematic_structures/T2.mae
  test/wasm/e2e/fixtures/problematic_structures/alq_chemistbonds.mae
  test/wasm/e2e/fixtures/problematic_structures/compounds_with_data_1_4.sdf
  test/wasm/e2e/fixtures/problematic_structures/irppy.mae
  test/wasm/e2e/fixtures/problematic_structures/ligprep_desalt_Epik_pH8.4-8.6_taut_stereo_32_ring_conf_1_MMFFS-out.sdf
  test/wasm/e2e/fixtures/problematic_structures/metalcomplex.mae
  test/wasm/e2e/fixtures/problematic_structures/metalcomplex_singlebonds.mae
  test/wasm/e2e/fixtures/problematic_structures/tm_complexes.mae
  test/wasm/e2e/import_formats.test.js
  test/wasm/e2e/keyboard_shortcuts.test.js
  test/wasm/e2e/miscellaneous.test.js
  test/wasm/e2e/problematic_structures.test.js
Due: prettier

Creating monomeric connection tool
  src/schrodinger/sketcher/icons/monomeric_connection.svg
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/monomer_constants.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.cpp
  src/schrodinger/sketcher/sketcher.qrc
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/tool/abstract_monomer_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_monomer_integration_tests_common.h
Due: clang-format

Backport Qt qyieldcpu patch to 2026-3
  external/CMakeLists.txt
  external/qt_yield_acle_patch.cmake
Due: none
