Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - --dry-run
  - --Werror

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - --check

Slight refactor for extract_helm_polymer to be wrapped in python
  include/schrodinger/rdkit_extensions/helm.h
  include/schrodinger/rdkit_extensions/monomer_mol.h
  src/schrodinger/rdkit_extensions/helm/helm_utils.cpp
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  test/schrodinger/rdkit_extensions/test_helm_to_rdkit.cpp
  test/schrodinger/rdkit_extensions/test_helm_utils.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

SKETCH-2662: Add note about allow_monomeric usage with monomers
  src/app/main.cpp
Due: clang-format

SKETCH-2662: Add boolean parameter to sketcher_allow_monomeric and format support to sketcher_import_text (#212)
  src/app/main.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

CRDGEN-392 treat bonds with two LINKAGEs as backbone bonds (#220)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

CRDGEN-399 better snaking for long chains (#223)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

Reapply "trust emscripten error handling"
  .github/scripts/generate_helm_gallery.mjs
  src/app/main.cpp
Due: clang-format

wip
  test/testfiles/helm-gallery/bicyclic_peptides.csv
  test/testfiles/helm-gallery/chembl21_1k.csv
  test/testfiles/helm-gallery/hand_picked_structures.csv
  test/testfiles/helm-gallery/mixed_branch_peptides.csv
  test/testfiles/helm-gallery/original_test_data.csv
Due: none

Revert "Reapply "trust emscripten error handling""
  .github/scripts/generate_helm_gallery.mjs
  src/app/main.cpp
Due: clang-format

Reapply "Reapply "trust emscripten error handling""
  .github/scripts/generate_helm_gallery.mjs
  src/app/main.cpp
Due: clang-format

wip
  .github/scripts/generate_helm_gallery.mjs
Due: none

fix and add debug messages for error handling
  .github/scripts/generate_helm_gallery.mjs
Due: none

better error strings
  .github/scripts/generate_helm_gallery.mjs
Due: none

wip
  test/testfiles/helm-gallery/bicyclic_peptides.csv
  test/testfiles/helm-gallery/hand_picked_structures.csv
  test/testfiles/helm-gallery/mixed_branch_peptides.csv
  test/testfiles/helm-gallery/validation_set.csv
Due: none

WIP
  .github/scripts/generate_helm_gallery.mjs
Due: none

mark entries with invalid coordinates
  .github/scripts/generate_helm_gallery.mjs
  src/app/main.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
Due: clang-format

clang-format
  src/app/main.cpp
Due: clang-format

toggle to show only flagged structures
  .github/scripts/generate_helm_gallery.mjs
Due: none

remove string
  test/testfiles/helm-gallery/bicyclic_peptides.csv
Due: none

wip
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
Due: clang-format

wip
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

add structures from test_monomer_coordgen.cpp
  test/testfiles/helm-gallery/original_test_data.csv
  test/testfiles/helm-gallery/validation_set.csv
Due: none

disable test
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

SHARED-11399: Slight refactor for extract_helm_polymer to be wrapped in python + add validateAttachmentPoints (#227)
  include/schrodinger/rdkit_extensions/helm.h
  include/schrodinger/rdkit_extensions/monomer_mol.h
  src/schrodinger/rdkit_extensions/helm/helm_utils.cpp
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  test/schrodinger/rdkit_extensions/test_helm_to_rdkit.cpp
  test/schrodinger/rdkit_extensions/test_helm_utils.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

BLDMGR-11075: RDKit to Release 2025.09.5 (#225)
  external/CMakeLists.txt
  external/rdkit_extern_patch.patch
  external/rdkit_pr_9006_9016.patch
  external/versions.json
  src/schrodinger/sketcher/rdkit/stereochemistry.cpp
  test/wasm/__snapshots__/wasm_api.test.js/export-text-RDMOL-BINARY-BASE64.txt
Due: clang-format

draft
  .github/actions/generate-helm-gallery/action.yml
  .github/scripts/generate_helm_gallery.mjs
  .github/workflows/sketcher-builder.yml
  test/testfiles/helm-gallery/bicyclic_peptides.csv
  test/testfiles/helm-gallery/chembl21_1k.csv
  test/testfiles/helm-gallery/mixed_branch_peptides.csv
  test/testfiles/helm-gallery/original_test_data.csv
Due: none

Simplify HELM gallery generation workflow
  .github/workflows/sketcher-builder.yml
Due: none

Fix check-changes step for non-PR events
  .github/actions/generate-helm-gallery/action.yml
Due: none

fix compilation error
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

SKETCH-2653: Using QueuedConnection to fix dialogs on WASM builds with Qt 6.8 (#221)
  src/schrodinger/sketcher/menu/sketcher_top_bar_menus.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
Due: clang-format

SKETCH-2651: Preventing Qt from trying to auto-apply dark mode color scheme (#222)
  src/app/main.cpp
Due: clang-format

SKETCH-2483: Adding functions to determine "pretty" names of bound and unbound monomeric attachment points (#218)
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/molviewer/monomer_connector_item.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.h
  src/schrodinger/sketcher/rdkit/monomer_connectors.cpp
  src/schrodinger/sketcher/rdkit/monomer_connectors.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/select_erase_scene_tool.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_monomer_connectors.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
Due: clang-format

test
  test/testfiles/helm-gallery/bicyclic_peptides.csv
Due: none

SKETCH-2630: Bumping to Qt v6.8.3 and emscripten to 3.1.56
  CMakeLists.txt
  external/versions.json
  src/schrodinger/sketcher/dialog/file_save_image_dialog.cpp
  src/schrodinger/sketcher/dialog/modal_dialog.cpp
  src/schrodinger/sketcher/dialog/sketcher_welcome_dialog.cpp
  test/wasm/__snapshots__/wasm_api.test.js/sketcher-load.png
  test/wasm/wasm_api.test.js
  wasm/public/wasm_shell.html
Due: clang-format, prettier

SKETCH-2679: Allow image generation APIs to handle structures with >200 atoms
  src/schrodinger/sketcher/image_generation.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  test/schrodinger/sketcher/test_image_generation.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cpp|h)$
  prettier: any of: \.js$
