Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - --dry-run
  - --Werror

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - --check

BLDMGR-12452, BLDMGR-12441: bump expat, rdkit
  external/versions.json
Due: none

BLDMGR-12452, BLDMGR-12441: bump expat, rdkit (#411)
  external/versions.json
Due: none

Expose rendered atom and bond geometry for tests
  src/app/main.cpp
  src/app/playwright_test_bridge.cpp
  src/app/playwright_test_bridge.h
Due: clang-format

Add Playwright move selection coverage
  test/wasm/e2e/from_squish/test/__snapshots__/move_select_from_squish.test.js/move-selected-structure.png
  test/wasm/e2e/from_squish/test/move_select_from_squish.test.js
Due: prettier

Add Playwright WASM test bridge
  src/app/main.cpp
  src/app/playwright_test_bridge.cpp
  src/app/playwright_test_bridge.h
  test/wasm/e2e/from_squish/test/editing_from_squish.test.js
  test/wasm/e2e/from_squish/test/import_export_from_squish.test.js
  test/wasm/e2e/from_squish/test/more_actions_menu_from_squish.test.js
  test/wasm/e2e/from_squish/test/tools_from_squish.test.js
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: clang-format, prettier

Resolve menu geometry from visible popup
  src/app/playwright_test_bridge.cpp
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: clang-format, prettier

Hide mouse marker during checkpoints
  test/wasm/e2e/from_squish/test/tst_more_actions_menu.test.js
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: prettier

Add optional Playwright mouse marker
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: prettier

Stabilize More Actions Playwright fixtures
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-add-explicit-hydrogens.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-clear-selection.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-ctrl-a.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-ctrl-d.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-ctrl-f.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-ctrl-i.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-ctrl-shift-z.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-ctrl-x.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-ctrl-z.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-cut.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-fit-to-screen.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-flip-horizontal.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-flip-vertical.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-invert-selection.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-paste.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-redo.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-remove-explicit-hydrogens.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-select-all-1.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-select-all-2.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-select-all-3.png
  test/wasm/e2e/from_squish/test/__snapshots__/more_actions_menu_from_squish.test.js/more-actions-undo.png
  test/wasm/e2e/from_squish/test/import_export_from_squish.test.js
  test/wasm/e2e/from_squish/test/more_actions_menu_from_squish.test.js
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: prettier

Complete More Actions source parity coverage
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-A-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-D-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-F-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-I-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-Shift-Z-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-Z-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/add-explicit-hydrogens.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/clear-selection.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/fit-to-screen.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/flip-horizontal.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/flip-vertical.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/invert-selection.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/paste.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/redo.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/remove-explicit-hydrogens.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/select-all-1.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/select-all-2.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/select-all-3.png
  test/wasm/e2e/from_squish/test/tst_more_actions_menu.test.js
  test/wasm/e2e/from_squish/wrappers/sketcher.js
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: prettier

Cache dialog geometry for Playwright input
  src/app/playwright_test_bridge.cpp
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: clang-format, prettier

Preserve sticky selection tool state
  test/wasm/e2e/from_squish/wrappers/sketcher.js
Due: prettier

Cover rectangle selection in Playwright
  test/wasm/e2e/from_squish/test/__snapshots__/move_select_from_squish.test.js/rectangle-selection.png
  test/wasm/e2e/from_squish/test/move_select_from_squish.test.js
Due: prettier

Add canonical More Actions Playwright tests
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-X-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/add-hydrogens-ignores-selection.png
  test/wasm/e2e/from_squish/test/tst_more_actions_menu.test.js
Due: prettier

Click Qt menu entries through Playwright
  src/app/main.cpp
  src/app/playwright_test_bridge.cpp
  src/app/playwright_test_bridge.h
  test/wasm/e2e/from_squish/test/more_actions_menu_from_squish.test.js
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: clang-format, prettier

Add WASM-only workflow dispatch target
  .github/workflows/sketcher-builder.yml
Due: none

Add optional visible structure replay
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-A-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-D-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-F-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-I-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-Shift-Z-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-X-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-Z-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/add-explicit-hydrogens-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/add-hydrogens-ignores-selection-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/clear-selection-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/fit-to-screen-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/flip-horizontal-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/flip-vertical-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/invert-selection-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/paste-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/redo-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/remove-explicit-hydrogens-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/select-all-1-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/select-all-2-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/select-all-3-replay.png
  test/wasm/e2e/from_squish/test/tst_more_actions_menu.test.js
  test/wasm/e2e/from_squish/wrappers/sketcher.js
Due: prettier

Capture dialog geometry after Qt show events
  src/app/playwright_test_bridge.cpp
Due: clang-format

Drive converted tests through human input
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: prettier

Make Playwright bridge opt-in
  .github/workflows/sketcher-builder.yml
  CMakeLists.txt
  src/app/main.cpp
Due: clang-format

Add visible slow-motion Playwright mode
  test/wasm/playwright.config.js
Due: prettier

Fix WASM-only workflow matrix
  .github/workflows/sketcher-builder.yml
Due: none

Consolidate More Actions source workflow
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-A-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-D-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-I-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-Shift-Z-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-X-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-Z-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/add-explicit-hydrogens.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/flip-horizontal.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/flip-vertical.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/remove-explicit-hydrogens.png
  test/wasm/e2e/from_squish/test/more_actions_menu_from_squish.test.js
  test/wasm/e2e/from_squish/test/tst_more_actions_menu.test.js
Due: prettier

Fix WASM bridge binding registration
  src/app/main.cpp
Due: clang-format

Format More Actions Playwright test
  test/wasm/e2e/from_squish/test/more_actions_menu_from_squish.test.js
Due: prettier

Publish menu geometry to browser state
  src/app/playwright_test_bridge.cpp
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: clang-format, prettier

Add source parity Sketcher wrapper
  test/wasm/e2e/from_squish/test/move_select_from_squish.test.js
  test/wasm/e2e/from_squish/wrappers/sketcher.js
Due: prettier

Format rendered geometry test bridge
  src/app/main.cpp
  src/app/playwright_test_bridge.cpp
Due: clang-format

Map source atom and bond clicks to rendered geometry
  test/wasm/e2e/from_squish/test/__snapshots__/move_select_from_squish.test.js/atom-bond-selection.png
  test/wasm/e2e/from_squish/test/move_select_from_squish.test.js
  test/wasm/e2e/from_squish/wrappers/sketcher.js
Due: prettier

Avoid reentrant Playwright menu actions
  src/app/playwright_test_bridge.cpp
  test/wasm/e2e/from_squish/test/more_actions_menu_from_squish.test.js
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: clang-format, prettier

Cache Qt menu geometry for Playwright clicks
  src/app/playwright_test_bridge.cpp
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: clang-format, prettier

Synchronize visible structure replay
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-A-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-D-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-F-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-I-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-Shift-Z-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-X-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-Z-hotkey-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/add-explicit-hydrogens-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/add-hydrogens-ignores-selection-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/clear-selection-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/fit-to-screen-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/flip-horizontal-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/flip-vertical-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/invert-selection-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/remove-explicit-hydrogens-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/select-all-1-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/select-all-2-replay.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/select-all-3-replay.png
  test/wasm/e2e/from_squish/wrappers/sketcher.js
Due: prettier

Preserve source indices during replay selection
  test/wasm/e2e/from_squish/wrappers/sketcher.js
Due: prettier

Find visible nested menu geometry
  src/app/playwright_test_bridge.cpp
Due: clang-format

Add Playwright coverage for More Actions menu
  src/app/playwright_test_bridge.cpp
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-F-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-I-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/Ctrl-X-hotkey.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/add-explicit-hydrogens.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/add-hydrogens-ignores-selection.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/clear-selection.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/fit-to-screen.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/flip-horizontal.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/flip-vertical.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/invert-selection.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/paste.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/redo.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/remove-explicit-hydrogens.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/select-all-1.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/select-all-2.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_more_actions_menu.test.js/select-all-3.png
  test/wasm/e2e/from_squish/test/tst_more_actions_menu.test.js
  test/wasm/e2e/from_squish/wrappers/sketcher.js
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
  test/wasm/playwright.config.js
Due: clang-format, prettier

SKETCH-2851: Hooking up Copy All As -> Image in top bar menu
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.h
  test/schrodinger/sketcher/test_common.h
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

SKETCH-2852: Fixing crash during click-and-drag with monomer tool
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
Due: clang-format

Extend isolated Playwright WASM test bridge
  CMakeLists.txt
  src/app/main.cpp
  src/app/playwright_test_bridge.cpp
  src/app/playwright_test_bridge.h
  test/wasm/e2e/from_squish/wrappers/sketcher_wasm.js
Due: clang-format, prettier

Tolerate stable move select screenshot antialiasing
  test/wasm/e2e/from_squish/test/move_select_from_squish.test.js
Due: prettier

Path conditions:
  clang-format: any of: \.(cpp|h)$
  prettier: any of: \.js$
