Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - --dry-run
  - --Werror

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - --check

SKETCH-2643: Drop the popup-delay comment from the widget header
  src/schrodinger/sketcher/widget/tool_button_with_popup.h
Due: clang-format

Fix buildinger sketcher build and test failures on macOS
  premake
Due: none

Fixing uncommon intermittent memtest failure (#421)
  test/valgrind_Qt_runner_suppressions.Linux-x86_64
Due: none

SKETCH-2375: Keep wedged attachment points collapsible on MDL export
  src/schrodinger/rdkit_extensions/convert.cpp
  test/schrodinger/rdkit_extensions/test_convert.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

Remove LLC
  src/app/sketcher_instance.h
Due: clang-format

Update premake
  premake
Due: none

SKETCH-2643: Add a Playwright test bridge for the WASM sketcher (#413)
  src/app/main.cpp
  src/app/playwright_test_bridge.cpp
  src/app/sketcher_instance.h
  test/wasm/e2e/analog.test.js
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/monomer_mutation.test.js
  test/wasm/playwright.config.js
Due: clang-format, prettier

SKETCH-2822 address review feedback
  src/schrodinger/sketcher/molviewer/coord_utils.cpp
  src/schrodinger/sketcher/molviewer/coord_utils.h
  src/schrodinger/sketcher/molviewer/monomer_attachment_point_labels.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
Due: clang-format

SKETCH-2822 rotate corner arrowheads
  src/schrodinger/sketcher/molviewer/monomer_connector_item.cpp
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
Due: clang-format

Fix buildinger sketcher build and test failures on macOS (#422)
  premake
Due: none

SKETCH-2643: linking the executable against RDKit::Depictor to fix local build errors
  CMakeLists.txt
Due: none

running cmake-format
  CMakeLists.txt
Due: none

when extending from rdkit coordinates regenerate coordinates for the first atom off the ring as well
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

LDID8-1284: expose load custom monomer api
  wasm/package/src/Sketcher.tsx
Due: none

SKETCH-2643: Resolve widgets on foreground Qt surfaces
  src/app/playwright_test_bridge.cpp
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/playwright_bridge_top_level.test.js
Due: clang-format, prettier

SKETCH-2643: linking the Sketcher executable against RDKit::Depictor to fix local build errors (#423)
  CMakeLists.txt
Due: none

SKETCH-2788: Adding "Load Monomer Database..." to import button menu
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/main.cpp
  src/schrodinger/sketcher/menu/sketcher_top_bar_menus.cpp
  src/schrodinger/sketcher/menu/sketcher_top_bar_menus.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.h
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.h
  src/schrodinger/sketcher/widget/tool_button_with_popup.cpp
  src/schrodinger/sketcher/widget/tool_button_with_popup.h
  test/schrodinger/sketcher/widget/test_monomer_tool_widget.cpp
Due: clang-format

allow custom bonds that identify overlapping regions if they are on separate consecutive strands
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

Add GitHub Pages deployment for WASM demo
  .github/workflows/deploy-pages.yml
  .github/workflows/sketcher-builder.yml
  README.md
Due: none

Expose cross-origin molecule and image APIs in the sketcher HTML page
  CMakeLists.txt
  README.md
  test/wasm/embedding.test.js
  test/wasm/html_api.node.js
  test/wasm/package.json
  wasm/public/wasm_shell.html
Due: prettier

LDID8-1284: update return type for sketcher_load_custom_monomeres
  wasm/package/src/Sketcher.tsx
Due: none

Using a ModalDialog instead of QMessageBox
  src/schrodinger/sketcher/dialog/error_dialog.cpp
  src/schrodinger/sketcher/dialog/error_dialog.h
  src/schrodinger/sketcher/dialog/file_export_dialog.cpp
  src/schrodinger/sketcher/dialog/message_box_dialog.cpp
  src/schrodinger/sketcher/dialog/message_box_dialog.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/message_box_dialog.ui
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
Due: clang-format

clang-format
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
Due: clang-format

Monomer pop up now uses multiple rows, monomer db now emits signal on changes, and fixing test isolation issues
  external/CMakeLists.txt
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/main.cpp
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.cpp
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.h
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.h
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.h
  test/schrodinger/local_monomer_db_fixture.h
  test/schrodinger/rdkit_extensions/test_common.h
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
  test/schrodinger/sketcher/menu/test_monomer_context_menu.cpp
  test/schrodinger/sketcher/model/test_tags.cpp
  test/schrodinger/sketcher/molviewer/test_monomer_coloring.cpp
  test/schrodinger/sketcher/qapplication_required_fixture.h
  test/schrodinger/sketcher/rdkit/test_atom_properties.cpp
  test/schrodinger/sketcher/rdkit/test_atoms_and_bonds.cpp
  test/schrodinger/sketcher/rdkit/test_variable_attachment_bond.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/schrodinger/sketcher/widget/test_monomer_tool_widget.cpp
Due: clang-format

SKETCH-2593: Promote rdkit_extensions headers to the public include tree (#420)
  include/schrodinger/rdkit_extensions/atomistic_conversions.h
  include/schrodinger/rdkit_extensions/biologics_fingerprint.h
  include/schrodinger/rdkit_extensions/constants.h
  include/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
  include/schrodinger/rdkit_extensions/monomer_database.h
  include/schrodinger/rdkit_extensions/monomer_directions.h
  include/schrodinger/rdkit_extensions/polymer_group.h
Due: clang-format

fixing leak exposed by the test_sketcher_widget change and removed outdated suppression
  src/schrodinger/sketcher/menu/selection_context_menu.cpp
  test/valgrind_TestWidgetFixture_suppressions.Linux-x86_64
Due: clang-format

Removing `remove_cxsmiles_labels` since it corrupts HELM strings and crashes HELM to SMILES
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
  test/schrodinger/rdkit_extensions/test_convert.cpp
Due: clang-format

SKETCH-2857: Unbound attachment points are now based on Monomer DB and SMILES strings
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
Due: clang-format

SHARED-12694: Throw runtime error when trying to convert from monomeric to atomistic with an invalid SMILES
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
  test/schrodinger/rdkit_extensions/test_coarse_grain.cpp
Due: clang-format

SKETCH-2861: Removing remove_cxsmiles_labels since it corrupts HELM strings and crashes HELM to SMILES
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_convert.cpp
Due: clang-format

updating test
  test/schrodinger/rdkit_extensions/test_convert.cpp
Due: clang-format

SKETCH-2861: Removing remove_cxsmiles_labels since it corrupts HELM strings (#432)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_convert.cpp
Due: clang-format

Compress Sketcher WebAssembly for npm consumers
  .github/actions/publish-npm-package/action.yml
  CMakeLists.txt
  test/wasm/package.json
  test/wasm/unit/compressed_wasm_loader.unit.mjs
  wasm/compressed_wasm_loader.js
Due: prettier

Fix pre-commit formatting
  CMakeLists.txt
  wasm/compressed_wasm_loader.js
Due: prettier

BLDMGR-12569: Update .reviewboardrc file for 2026-4 branch
  .reviewboardrc
Due: none

NO_JIRA_ID add linear peptide rendering
  include/schrodinger/sketcher/image_generation.h
  src/app/image_generation_from_js.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
  src/schrodinger/sketcher/image_generation.cpp
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/monomer_connector_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_connector_item.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.h
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
  test/schrodinger/sketcher/molviewer/test_scene_utils.cpp
  test/schrodinger/sketcher/test_image_generation.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2786: Connections between sugars and phosphates now use the correct phosphate attachment point
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_monomer_integration_tests_common.h
Due: clang-format

LDID8-1284: expose load custom monomer api (#429)
  wasm/package/src/Sketcher.tsx
Due: none

SKETCH-2862: Ensure that residue names exist in the monomer DB for imported monomeric structures and that all SMILES are valid
  src/schrodinger/sketcher/image_generation.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/test_image_generation.cpp
  test/schrodinger/sketcher/tool/test_draw_nucleotide_scene_tool_integration_tests.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cpp|h)$
  prettier: any of: \.js$
