Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: [--dry-run, --Werror]
      - id: prettier
        name: prettier
        entry: npx prettier
        language: system
        files: \.js$
        args: [--check]

SKETCH-2711: Reduce select/move/erase icon sizes to 26×26
  src/schrodinger/sketcher/ui/select_options_widget.ui
Due: none

SKETCH-2711: Rearrange selection tools in side bar
  src/schrodinger/sketcher/ui/select_options_widget.ui
  src/schrodinger/sketcher/widget/select_options_widget.cpp
  src/schrodinger/sketcher/widget/select_options_widget.h
  test/schrodinger/sketcher/widget/test_select_options_widget.cpp
Due: clang-format

SKETCH-2711: Add breathing room above and below SELECT label
  src/schrodinger/sketcher/ui/select_options_widget.ui
Due: none

SKETCH-2711: Normalize select/move/erase icon sizes to 30×30
  src/schrodinger/sketcher/ui/select_options_widget.ui
Due: none

SKETCH-2711: Upload artifacts even when tests fail
  .github/workflows/sketcher-builder.yml
Due: none

SKETCH-2536: Update branding, add app icons, create macOS bundle
  CMakeLists.txt
  README.md
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/crash_handler.cpp
  src/app/main.cpp
  src/app/sketcher.icns
  src/app/sketcher.ico
  src/app/sketcher.rc
  src/schrodinger/sketcher/icons/2D-Sketcher-watermark.svg
  src/schrodinger/sketcher/icons/sketcher-logo.svg
  src/schrodinger/sketcher/icons/sketcher-watermark-dark.svg
  src/schrodinger/sketcher/icons/sketcher-watermark.svg
  src/schrodinger/sketcher/menu/sketcher_top_bar_menus.cpp
  src/schrodinger/sketcher/resources/schrodinger_livedesign.qss
  src/schrodinger/sketcher/sketcher.qrc
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/about_2d_sketcher.ui
  src/schrodinger/sketcher/ui/sketcher_welcome_dialog.ui
  src/schrodinger/sketcher/ui/sketcher_widget.ui
  wasm/public/wasm_shell.html
Due: clang-format

SKETCH-2536: Review fixes (umlaut, dead code, stale comments)
  CMakeLists.txt
  src/app/crash_handler.cpp
  src/app/crash_handler.h
Due: clang-format

Revert "SKETCH-2711: Upload artifacts even when tests fail"
  .github/workflows/sketcher-builder.yml
Due: none

SKETCH-2711: Update e2e-draw-bond snapshot for rearranged toolbar icons
  test/wasm/e2e/__snapshots__/drawing.test.js/e2e-draw-bond.png
Due: none

SKETCH-2711: Rearrange selection tools in side bar (#276)
  src/schrodinger/sketcher/icons/select_move_rotate.svg
  src/schrodinger/sketcher/icons/select_move_rotate_dis.svg
  src/schrodinger/sketcher/ui/select_options_widget.ui
  src/schrodinger/sketcher/widget/select_options_widget.cpp
  src/schrodinger/sketcher/widget/select_options_widget.h
  test/schrodinger/sketcher/widget/test_select_options_widget.cpp
  test/wasm/e2e/__snapshots__/drawing.test.js/e2e-draw-bond.png
Due: clang-format

Move test databases to test/testfiles
  test/python/test_smiles_to_helm.py
  test/testfiles/X1.db
  test/testfiles/X1.json
Due: none

SKETCH-2536: Fix wasm build — pass output name to cache-bust script
  CMakeLists.txt
Due: none

Add a BUILD.md (#319)
  .gitignore
  BUILD.md
Due: none

SKETCH-2618: Ensuring unique chain names when adding monomer mols to MolModel (#316)
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2618: Refactoring DrawMonomerSceneTool to create AbstractMonomerSceneTool (#317)
  src/schrodinger/sketcher/molviewer/monomer_hint_fragment_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_hint_fragment_item.h
  src/schrodinger/sketcher/tool/abstract_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_monomer_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_monomer_integration_tests_common.h
Due: clang-format

SKETCH-2648: Foundation for monomer context menu (#314)
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/menu/monomer_context_menu.cpp
  src/schrodinger/sketcher/menu/monomer_context_menu.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  test/schrodinger/sketcher/menu/test_monomer_context_menu.cpp
Due: clang-format

SKETCH-2618: Implementing DrawMonomerFragmentSceneTool and hooking up full nucleotide tools (#318)
  src/schrodinger/sketcher/molviewer/coord_utils.cpp
  src/schrodinger/sketcher/molviewer/coord_utils.h
  src/schrodinger/sketcher/molviewer/monomer_hint_fragment_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_hint_fragment_item.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.h
  test/schrodinger/sketcher/tool/test_draw_nucleotide_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2709: Bump GitHub Actions to Node.js 24-compatible versions
  .github/actions/activate-emsdk/action.yml
  .github/actions/build-external/action.yml
  .github/workflows/sketcher-builder.yml
Due: none

SKETCH-2498: Bump checkout to v6 and download-artifact to v7
  .github/workflows/release.yml
Due: none

SKETCH-2536: Address review feedback
  CMakeLists.txt
  README.md
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/README.md
  src/schrodinger/sketcher/resources/schrodinger_livedesign.qss
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/sketcher_welcome_dialog.ui
Due: clang-format

SKETCH-2536: Clarify install() comments for app target
  CMakeLists.txt
Due: none

SKETCH-2536: clang-format updateWatermarkVisibilityAndPos connects
  src/schrodinger/sketcher/sketcher_widget.cpp
Due: clang-format

bump rdkit version
  external/versions.json
Due: none

update test
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

drop patches
  external/CMakeLists.txt
  external/rdkit_extern_patch.patch
  external/rdkit_revert_pr_9082.patch
Due: none

SKETCH-2729: Nucleic Acid analogs
  CMakeLists.txt
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.cpp
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.h
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  src/schrodinger/sketcher/widget/nucleic_acid_symbol_popup.cpp
  src/schrodinger/sketcher/widget/nucleic_acid_symbol_popup.h
  src/schrodinger/sketcher/widget/nucleotide_popup.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_monomer_integration_tests_common.h
  test/schrodinger/sketcher/widget/test_nucleic_acid_symbol_popup.cpp
Due: clang-format

more test updates
  test/schrodinger/rdkit_extensions/test_convert.cpp
Due: clang-format

SKETCH-2709: Bump GitHub Actions to Node.js 24-compatible versions (#322)
  .github/actions/activate-emsdk/action.yml
  .github/actions/build-external/action.yml
  .github/workflows/sketcher-builder.yml
Due: none

SKETCH-2498: Add release workflow (#320)
  .github/workflows/release.yml
Due: none

SKETCH-2735: Remove InterfaceType and add monomer-view-only mode
  include/schrodinger/sketcher/public_constants.h
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/main.cpp
  src/schrodinger/sketcher/dialog/paste_in_text_dialog.cpp
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  test/schrodinger/sketcher/dialog/test_paste_in_text_dialog.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/schrodinger/sketcher/tool/test_monomer_integration_tests_common.h
Due: clang-format

SKETCH-2735: Hide draw UI and atomistic-only actions in monomer-view-only mode
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
Due: clang-format

SKETCH-2735: Remove CLI flag, WASM binding, and stale comments
  src/app/main.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

SKETCH-2735: Default to monomer-view-only and add enable-monomer-edits opt-out
  src/app/main.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
Due: clang-format

SKETCH-2735: Block keyboard shortcuts in monomer-view-only mode
  src/schrodinger/sketcher/sketcher_widget.cpp
  test/wasm/e2e/e2e_helpers.js
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2498: Update release title/notes when run
  .github/workflows/release.yml
Due: none

SKETCH-2498: Update release run-name
  .github/workflows/release.yml
Due: none

SKETCH-2648: Add L/D-form and mutate monomer in context menu
  src/schrodinger/sketcher/menu/monomer_context_menu.cpp
  src/schrodinger/sketcher/menu/monomer_context_menu.h
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  test/schrodinger/sketcher/menu/test_monomer_context_menu.cpp
Due: clang-format

Update README.md to include release badge
  README.md
Due: none

Addressed comments
  src/schrodinger/sketcher/menu/monomer_context_menu.cpp
  src/schrodinger/sketcher/sketcher_widget.cpp
Due: clang-format

SKETCH-2716: Prevent cleanup for monomeric structures
  src/schrodinger/sketcher/model/mol_model.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format
