Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: [--dry-run, --Werror]
      - id: prettier
        name: prettier
        entry: npx prettier
        language: system
        files: \.js$
        args: [--check]

SKETCH-2815: Publish React sketcher component as @schrodinger/sketcher/react
  .github/actions/publish-npm-package/action.yml
  .gitignore
  .pre-commit-config.yaml
  wasm/package/package-lock.json
  wasm/package/package.json
  wasm/package/rollup.config.js
  wasm/package/src/Sketcher.tsx
  wasm/package/src/index.ts
  wasm/package/tsconfig.json
Due: prettier

Backport Qt qyieldcpu patch to 2026-3 (#387)
  external/CMakeLists.txt
  external/qt_yield_acle_patch.cmake
Due: none

SHARED-12481: Handle monomer upload errors more gracefully (#379)
  src/app/main.cpp
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2815: Target React 18 and the automatic JSX runtime
  wasm/package/package-lock.json
  wasm/package/package.json
  wasm/package/rollup.config.js
  wasm/package/src/Sketcher.tsx
  wasm/package/tsconfig.json
Due: prettier

SKETCH-2763: Generate complement strand for nucleic acids
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
  src/schrodinger/sketcher/menu/monomer_context_menu.cpp
  src/schrodinger/sketcher/menu/monomer_context_menu.h
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  test/schrodinger/sketcher/menu/test_monomer_context_menu.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
Due: clang-format

returning Base64-encoded string and updating CMakeLists.txt to glob app sources
  CMakeLists.txt
  src/app/image_generation_from_js.cpp
  src/app/image_generation_from_js.h
  src/app/main.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2807: Exposing image_generation API via JavaScript for Bunsen (#383)
  CMakeLists.txt
  src/app/image_generation_from_js.cpp
  src/app/image_generation_from_js.h
  src/app/main.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2815: Publish React sketcher component as @schrodinger/sketcher/react (#388)
  .github/actions/publish-npm-package/action.yml
  .gitignore
  .pre-commit-config.yaml
  wasm/package/package-lock.json
  wasm/package/package.json
  wasm/package/rollup.config.js
  wasm/package/src/Sketcher.tsx
  wasm/package/src/index.ts
  wasm/package/tsconfig.json
Due: prettier

SKETCH-2779: Creating monomeric connection tool (#386)
  src/schrodinger/sketcher/icons/monomeric_connection.svg
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/monomer_constants.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.cpp
  src/schrodinger/sketcher/sketcher.qrc
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/tool/abstract_monomer_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_monomer_integration_tests_common.h
Due: clang-format

Adding CMake dependencies for *.qrc files
  CMakeLists.txt
Due: none

cmake-format
  CMakeLists.txt
Due: none

SKETCH-2779: Fixing comments based on Claude suggestions in mmshare PR
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.cpp
Due: clang-format

SKETCH-2779: Tweaking comments based on Claude suggestions in mmshare PR (#390)
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.cpp
Due: clang-format

SKETCH-2780: Adding monomeric H-bond tool
  src/schrodinger/sketcher/icons/monomeric_hbond.svg
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/sketcher.qrc
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/tool/abstract_draw_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/tool/abstract_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_monomer_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomeric_hbond_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_hbond_scene_tool.h
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_hbond_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_monomer_integration_tests_common.h
Due: clang-format

SKETCH-2780: Adding monomeric H-bond tool (#391)
  src/schrodinger/sketcher/icons/monomeric_hbond.svg
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/sketcher.qrc
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/tool/abstract_draw_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/tool/abstract_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_monomer_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomeric_hbond_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_hbond_scene_tool.h
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_hbond_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_monomer_integration_tests_common.h
Due: clang-format

SKETCH-2755: Changing "pair" label to "H-bond" and using dashed lines for all H-bonds
  src/schrodinger/sketcher/molviewer/monomer_attachment_point_labels.cpp
  src/schrodinger/sketcher/molviewer/monomer_connector_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_constants.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_hbond_scene_tool.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2779, SKETCH-2780: Adding tooltips to monomeric connector buttons
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
Due: none

tweaking comments based on Claude comments on mmshare PR
  src/schrodinger/sketcher/molviewer/monomer_attachment_point_labels.cpp
  src/schrodinger/sketcher/rdkit/monomeric.cpp
Due: clang-format

SKETCH-2779, SKETCH-2780: Adding tooltips to monomeric connector buttons (#393)
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
Due: none

SKETCH-2755: Changing "pair" label to "H-bond" and using dashed lines for all H-bonds (#392)
  src/schrodinger/sketcher/molviewer/monomer_attachment_point_labels.cpp
  src/schrodinger/sketcher/molviewer/monomer_connector_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_constants.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_hbond_scene_tool.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
Due: clang-format

Pass --fresh to CMake on Windows when compiler location changes
  premake
Due: none

Fix .maezst files being written uncompressed
  src/schrodinger/rdkit_extensions/file_format.cpp
  test/schrodinger/rdkit_extensions/test_file_format.cpp
  test/testfiles/methane.maezst
Due: clang-format

SKETCH-2700: Tests now run with --platform offscreen
  CMakeLists.txt
  src/schrodinger/sketcher/font_loader.h
  test/schrodinger/sketcher/qapplication_required_fixture.h
Due: clang-format

updating comment
  premake
Due: none

SKETCH-2821: reduce test time by ~6x
  test/schrodinger/sketcher/test_image_generation.cpp
Due: clang-format

Bump version for 2026.4.34
  version.json
Due: none

Bump version for 2026.3.116
  version.json
Due: none

SKETCH-2752, SKETCH-2739: Fixing keyboard shortcuts
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

SKETCH-2700: Tests now run with --platform offscreen (#396)
  CMakeLists.txt
  src/schrodinger/sketcher/font_loader.h
  test/schrodinger/sketcher/qapplication_required_fixture.h
Due: clang-format

Adding CMake dependencies for *.qrc files (#389)
  CMakeLists.txt
Due: none

Pass --fresh to CMake on Windows when compiler location changes (#394)
  premake
Due: none

tweaking comments
  src/schrodinger/sketcher/sketcher_widget.cpp
Due: clang-format

SKETCH-2752, SKETCH-2739: Fixing keyboard shortcuts (#397)
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

SKETCH-2594: Changes to a ui file no longer requires two runs of CMake
  CMakeLists.txt
Due: none

CRDGEN-419: SEGV in RNA coordgen
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

SKETCH-2594: Changes to a ui file no longer require two incremental builds (#398)
  CMakeLists.txt
Due: none

CRDGEN-419: SEGV in RNA coordgen (#399)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

BLDMGR-12186: bump rdkit to 2026.03.5
  external/CMakeLists.txt
  external/rdkit_modified_pr_9204.patch
  external/versions.json
Due: none

add expat dep
  CMakeLists.txt
  external/CMakeLists.txt
  external/versions.json
Due: none
