Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: [--dry-run, --Werror]
      - id: prettier
        name: prettier
        entry: npx prettier
        language: system
        files: \.js$
        args: [--check]

SKETCH-2643: Stabilize foreground menu and export tests
  test/wasm/e2e/sketcher/wrappers/sketcher.js
  test/wasm/e2e/sketcher/wrappers/sketcher_wasm.js
  test/wasm/e2e/tst_export_menu.test.js
  test/wasm/playwright.config.js
Due: prettier

SKETCH-2643: Apply repository JavaScript formatting
  test/wasm/e2e/context_rgroup_probe.test.js
  test/wasm/e2e/context_set_element_probe.test.js
  test/wasm/e2e/context_wildcard_probe.test.js
  test/wasm/e2e/edit_atom_properties_probe.test.js
  test/wasm/e2e/generic_geometry_bridge_contract.test.js
  test/wasm/e2e/sketcher/wrappers/sketcher.js
  test/wasm/e2e/structure_replay_double_bond_contract.test.js
  test/wasm/e2e/tst_edit_atom_properties.test.js
  test/wasm/e2e/tst_enumeration_details.test.js
  test/wasm/e2e/tst_export_menu.test.js
  test/wasm/e2e/tst_hidden_shortcuts.test.js
  test/wasm/e2e/tst_more_actions_menu.test.js
  test/wasm/e2e/tst_move_select_parity.test.js
  test/wasm/e2e/tst_query_bond_crash.test.js
  test/wasm/e2e/tst_select_mode_active_selection.test.js
  test/wasm/e2e/tst_select_mode_no_selection.test.js
  test/wasm/e2e/tst_tools.test.js
  test/wasm/e2e/wrapper_contracts.test.js
Due: prettier

Removing combo box
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.cpp
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.h
  src/schrodinger/sketcher/icons/add_custom_monomer.png
  src/schrodinger/sketcher/icons/add_custom_monomer.svg
  src/schrodinger/sketcher/sketcher.qrc
  src/schrodinger/sketcher/ui/custom_monomer_dialog.ui
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  test/schrodinger/sketcher/dialog/test_custom_monomer_dialog.cpp
Due: clang-format

Add suppression(s) for memtest failure(s) reported in SHARED-12643
  test/schrodinger/sketcher/tool/test_valgrind.suppressions
Due: none

SHARED-12727: Catch sanitization error for tautomers
  src/schrodinger/rdkit_extensions/monomer_database.cpp
Due: clang-format

SHARED-12588: Support antibody arm pairs during HELM mapping
  include/schrodinger/rdkit_extensions/helm.h
  src/schrodinger/rdkit_extensions/helm/helm_utils.cpp
  test/schrodinger/rdkit_extensions/test_helm_utils.cpp
Due: clang-format

SHARED-12721 Handle inaccessible custom monomer DB path
  src/schrodinger/rdkit_extensions/monomer_database.cpp
Due: clang-format

SKETCH-2826: Can now edit existing monomers in CustomMonomerDialog
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.cpp
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.h
  src/schrodinger/sketcher/dialog/message_box_dialog.cpp
  src/schrodinger/sketcher/dialog/message_box_dialog.h
  src/schrodinger/sketcher/menu/monomer_context_menu.cpp
  src/schrodinger/sketcher/menu/monomer_context_menu.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/message_box_dialog.ui
  test/schrodinger/sketcher/dialog/test_custom_monomer_dialog.cpp
  test/schrodinger/sketcher/dialog/test_message_box_dialog.cpp
  test/schrodinger/sketcher/menu/test_monomer_context_menu.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

removing unused variable in labmda capture
  src/schrodinger/sketcher/sketcher_widget.cpp
Due: clang-format

Fix premake
  premake
Due: none

Fix macOS test failures from unrelocated install names
  premake
Due: none

SKETCH-2857: Avoiding crashes with X and N monomers, as well as with invalid monomers from the custom nucleotide tool (#442)
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/tool/test_draw_nucleotide_scene_tool_integration_tests.cpp
Due: clang-format

Probe for maeparser's cmake directory instead of hardcoding it
  premake
Due: none

SKETCH-2867: Fix uninitialized read on monomer drag release after structure update
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_hbond_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_valgrind.suppressions
Due: clang-format

SKETCH-2643: Address Playwright wrapper review
  test/wasm/e2e/sketcher/scripts/archive_snapshots.mjs
  test/wasm/e2e/sketcher/wrappers/sketcher_wasm.js
Due: prettier

SKETCH-2867: Fix uninitialized read on monomer drag release after structure update (#448)
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_hbond_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_valgrind.suppressions
Due: clang-format

SKETCH-2643: Verify Paste in Text dialog activation
  test/wasm/e2e/sketcher/wrappers/sketcher.js
Due: prettier

copy_polymer_coords_to_monomer_mol now clears existing conformers
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
Due: clang-format

Fix premake build and test failures on arm macOS (#447)
  premake
Due: none

expand the number of cases tackled with snaking layouts (#427)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

marking the new conformer as 2D
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2643: Scope Playwright generated-file ignores
  .gitignore
  test/wasm/.gitignore
Due: none

SKETCH-2865: Monomer mutations now warn if the mutation would remove a bound attachment point
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.cpp
  src/schrodinger/sketcher/molviewer/removing_bound_monomeric_connection.cpp
  src/schrodinger/sketcher/molviewer/removing_bound_monomeric_connection.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

pr/SKETCH-2859:Ensure 2D overlay Honors 2D structure preferences
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

SKETCH-2849: Fixing monomeric clean up when starting coordinates are vaguely reasonable (#445)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

Adding style sheet for Custom button and fixing R3-R3 connections
  src/schrodinger/sketcher/sketcher_css_style.h
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2741: Adding a custom monomer tool with a Sketcher dialog (#438)
  include/schrodinger/rdkit_extensions/monomer_mol.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.cpp
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.h
  src/schrodinger/sketcher/icons/add_custom_monomer.svg
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/sketcher.qrc
  src/schrodinger/sketcher/sketcher_css_style.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
  src/schrodinger/sketcher/ui/custom_monomer_dialog.ui
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  test/schrodinger/sketcher/dialog/test_custom_monomer_dialog.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_monomer_integration_tests_common.h
Due: clang-format

Fix Sketcher.app failing to launch on arm macOS
  premake
Due: none

SKETCH-2826: Can now edit existing monomers in CustomMonomerDialog (#446)
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.cpp
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.h
  src/schrodinger/sketcher/dialog/message_box_dialog.cpp
  src/schrodinger/sketcher/dialog/message_box_dialog.h
  src/schrodinger/sketcher/menu/monomer_context_menu.cpp
  src/schrodinger/sketcher/menu/monomer_context_menu.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/message_box_dialog.ui
  test/schrodinger/sketcher/dialog/test_custom_monomer_dialog.cpp
  test/schrodinger/sketcher/dialog/test_message_box_dialog.cpp
  test/schrodinger/sketcher/menu/test_monomer_context_menu.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

LDID8-1367: Add styling to address input bug that offsets display
  wasm/public/wasm_shell.html
Due: none

Fix Sketcher.app failing to launch on arm macOS (#450)
  premake
Due: none

Rename CI builds to include architecture; fix release asset permissions
  .github/workflows/release.yml
  .github/workflows/sketcher-builder.yml
Due: none

Restore only binary permissions in release packaging
  .github/workflows/release.yml
Due: none

Fix .maezst compression detection
  src/schrodinger/rdkit_extensions/file_format.cpp
  test/schrodinger/rdkit_extensions/test_file_format.cpp
  test/testfiles/methane.maezst
Due: clang-format

Remove Asyncify from the WASM build
  CMakeLists.txt
  src/app/playwright_test_bridge.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/playwright_bridge_top_level.test.js
Due: clang-format, prettier

Remove unrelated WASM changes from PR
  .github/workflows/deploy-pages.yml
  .github/workflows/sketcher-builder.yml
  README.md
Due: none
