Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - --dry-run
  - --Werror

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - --check

SKETCH-2735: Make ATOMISTIC_OR_MONOMERIC the default (#312)
  .github/workflows/sketcher-builder.yml
  .github/workflows/update-wasm-snapshots.yml
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/main.cpp
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/wasm/e2e/__snapshots__/drawing.test.js/e2e-draw-bond.png
  test/wasm/e2e/analog.test.js
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/monomer_mutation.test.js
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2709: Upgrading fortran-lang/setup-fortran to v1.9.0 and adding FORCE_JAVASCRIPT_ACTIONS_TO_NODE24 (#333)
  .github/actions/activate-msvc/action.yml
  .github/workflows/sketcher-builder.yml
Due: none

SHARED-12285: Avoid bad_any_cast exception by storing size as std::array (#326)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

Addressed comments
  src/schrodinger/sketcher/menu/monomer_context_menu.cpp
  src/schrodinger/sketcher/sketcher_widget.cpp
Due: clang-format

SKETCH-2648: Add L/D-form and mutate monomer in context menu
  src/schrodinger/sketcher/menu/monomer_context_menu.cpp
  src/schrodinger/sketcher/menu/monomer_context_menu.h
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  test/schrodinger/sketcher/menu/test_monomer_context_menu.cpp
Due: clang-format

SKETCH-2648: Add Set L/D-form and Mutate monomer in context menu (#315)
  src/schrodinger/sketcher/menu/monomer_context_menu.cpp
  src/schrodinger/sketcher/menu/monomer_context_menu.h
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  test/schrodinger/sketcher/menu/test_monomer_context_menu.cpp
Due: clang-format

SKETCH-2746: Fixing appearance of AMINO / NUCLEIC toggle buttons
  src/schrodinger/sketcher/sketcher_css_style.h
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/amino_or_nucleic_toggle_button.cpp
  src/schrodinger/sketcher/widget/amino_or_nucleic_toggle_button.h
  src/schrodinger/sketcher/widget/custom_nucleotide_popup.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
Due: clang-format

SKETCH-2746: Fixing appearance of AMINO / NUCLEIC toggle buttons (#335)
  src/schrodinger/sketcher/sketcher_css_style.h
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/amino_or_nucleic_toggle_button.cpp
  src/schrodinger/sketcher/widget/amino_or_nucleic_toggle_button.h
  src/schrodinger/sketcher/widget/custom_nucleotide_popup.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
Due: clang-format

Run cmake-format
  CMakeLists.txt
Due: none

SKETCH-2746: Fixing mmshare build errors by removing unneeded Q_OBJECT macro
  src/schrodinger/sketcher/widget/amino_or_nucleic_toggle_button.h
Due: clang-format

prettify JSON
  test/testfiles/X1.json
Due: none

Try to fix APPLE install
  CMakeLists.txt
Due: none

SKETCH-2746: Fixing mmshare build errors by removing unneeded Q_OBJECT macro (#336)
  src/schrodinger/sketcher/widget/amino_or_nucleic_toggle_button.h
Due: clang-format

SHARED-12308: Add a smiles_to_helm utility (#313)
  CMakeLists.txt
  src/utils/smiles_to_helm.cpp
  test/python/test_smiles_to_helm.py
  test/testfiles/X1.db
  test/testfiles/X1.json
Due: clang-format

fix usage of uninitialized pointer
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
Due: clang-format

SKETCH-2497: Add bump-quarter mode to bump-version action (#331)
  .github/actions/bump-version/action.yml
  .github/actions/bump-version/bump_version.py
  .github/workflows/sketcher-builder.yml
  test/github_actions/test_bump_version.py
Due: none

Refactor CI build matrix to use explicit per-job attributes
  .github/actions/build-external/action.yml
  .github/workflows/release.yml
  .github/workflows/sketcher-builder.yml
Due: none

Drop JSON from prettier pre-commit hook
  .pre-commit-config.yaml
Due: none

Drop cache-tag/use-emsdk inputs from build-external action
  .github/actions/build-external/action.yml
  .github/workflows/sketcher-builder.yml
Due: none

Tighten CI matrix: drop cmake-wrapper attr, collapse runs-* to tests enum
  .github/workflows/sketcher-builder.yml
Due: none

Revert explicit-attribute refactor; keep only build-name renames
  .github/workflows/sketcher-builder.yml
Due: none

Move JSON-drop pre-commit change to its own PR
  .pre-commit-config.yaml
Due: none

SHARED-12293: fix usage of uninitialized pointers (#337)
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
Due: clang-format

Drop JSON from prettier pre-commit hook (#339)
  .pre-commit-config.yaml
Due: none

SKETCH-2716: Prevent cleanup for monomeric structures (#325)
  src/schrodinger/sketcher/model/mol_model.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2729: Nucleic Acid analogs
  CMakeLists.txt
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.cpp
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.h
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  src/schrodinger/sketcher/widget/nucleic_acid_symbol_popup.cpp
  src/schrodinger/sketcher/widget/nucleic_acid_symbol_popup.h
  src/schrodinger/sketcher/widget/nucleotide_popup.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_monomer_integration_tests_common.h
  test/schrodinger/sketcher/widget/test_nucleic_acid_symbol_popup.cpp
Due: clang-format

Add R analogs to dR
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  test/schrodinger/sketcher/widget/test_nucleic_acid_symbol_popup.cpp
Due: clang-format

SKETCH-2735: Restore sketcher_allow_monomeric as a no-op
  src/app/main.cpp
Due: clang-format

SKETCH-2750: Clear HELM_MODEL state during stripping
  src/schrodinger/sketcher/model/mol_model.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2750: Refresh HELM_MODEL stale state when dealing with atoms (#334)
  src/schrodinger/sketcher/model/mol_model.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2536: Soften watermark opacity to 40%
  src/schrodinger/sketcher/sketcher_widget.cpp
Due: clang-format

Update README.md
  README.md
Due: none

Update README; new logo
  .github/schrodinger-sketcher-logo.png
  .github/schrodinger-sketcher-screenshot.png
  README.md
Due: none

SKETCH-2735: Restore sketcher_allow_monomeric as a no-op (#340)
  src/app/main.cpp
Due: clang-format

SKETCH-2746: Active AMINO/NUCLEIC tab now colored black
  src/schrodinger/sketcher/sketcher_css_style.h
Due: clang-format

SHARED-12236: Add RGROUPS column to monomer db schema (#7893)
  src/schrodinger/rdkit_extensions/generate_default_monomers_header.py
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/rdkit_extensions/monomer_db_schema.h
Due: clang-format

SHARED-12280: Let custom monomers override the defaults (#8252)
  src/schrodinger/rdkit_extensions/monomer_database.cpp
Due: clang-format

SHARED-12206: toMonomeric: R3 sidechains on N (#8192)
  src/schrodinger/rdkit_extensions/monomer_database.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cpp|h)$
  prettier: any of: \.js$
