Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: [--dry-run, --Werror]
      - id: prettier
        name: prettier
        entry: npx prettier
        language: system
        files: \.js$
        args: [--check]

Update CI runners to ubuntu-24.04 and windows-2025
  .github/workflows/sketcher-builder.yml
Due: none

Fix .maezst files being written uncompressed (#395)
  src/schrodinger/rdkit_extensions/file_format.cpp
  test/schrodinger/rdkit_extensions/test_file_format.cpp
  test/testfiles/methane.maezst
Due: clang-format

Keep top bar menu shortcuts working without setMenu()
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  test/schrodinger/sketcher/widget/test_sketcher_top_bar.cpp
Due: clang-format

Wait for the Paste in Text dialog before reading its state
  test/wasm/e2e/playwright_bridge_top_level.test.js
Due: prettier

Run wasm Playwright tests with 4 workers in CI
  test/wasm/playwright.config.js
Due: prettier

LDID8-1367: Add styling to address input bug that offsets display (#451)
  wasm/public/wasm_shell.html
Due: none

Rename CI builds to include architecture; update runners; fix release asset permissions (#338)
  .github/workflows/release.yml
  .github/workflows/sketcher-builder.yml
Due: none

SKETCH-2763: Generate complement strand for nucleic acids
  include/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/sketcher/menu/monomer_context_menu.cpp
  src/schrodinger/sketcher/menu/monomer_context_menu.h
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  test/schrodinger/sketcher/menu/test_monomer_context_menu.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
Due: clang-format

SKETCH-2763: Address review feedback on complement strand generation
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
Due: clang-format

Revert "Run wasm Playwright tests with 4 workers in CI"
  test/wasm/playwright.config.js
Due: prettier

Note why the top bar menu shortcut test matters
  test/schrodinger/sketcher/widget/test_sketcher_top_bar.cpp
Due: clang-format

Speed up the WASM CI job (#453)
  CMakeLists.txt
  src/app/playwright_test_bridge.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  test/schrodinger/sketcher/widget/test_sketcher_top_bar.cpp
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/playwright_bridge_top_level.test.js
Due: clang-format, prettier

#409: Create output directory when generating default monomers header
  src/schrodinger/rdkit_extensions/generate_default_monomers_header.py
Due: none

SKETCH-2870: Adding button for unclassified monomers and adding scroll bar to analog pop ups
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/modular_tool_button.cpp
  src/schrodinger/sketcher/widget/modular_tool_button.h
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.cpp
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.h
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/schrodinger/sketcher/widget/test_monomer_tool_widget.cpp
Due: clang-format

#409: Create output directory when generating default monomers header (#456)
  src/schrodinger/rdkit_extensions/generate_default_monomers_header.py
Due: none

SKETCH-2872: Preserve wedges present on input molecules
  include/schrodinger/rdkit_extensions/stereochemistry.h
  src/schrodinger/rdkit_extensions/stereochemistry.cpp
  src/schrodinger/sketcher/rdkit/coord_utils.cpp
  src/schrodinger/sketcher/rdkit/coord_utils.h
  src/schrodinger/sketcher/rdkit/mol_update.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_mol_update.cpp
Due: clang-format

SKETCH-2874: Fixing snaking layout when atom indices don't match residue numbering
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2874: Fixing snaking layout when atom indices don't match residue numbering (#458)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

Fade truncated monomer labels (#440)
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.h
  src/schrodinger/sketcher/molviewer/amino_acid_item.cpp
  src/schrodinger/sketcher/molviewer/chem_monomer_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_constants.h
  src/schrodinger/sketcher/molviewer/nucleic_acid_base_item.cpp
  src/schrodinger/sketcher/molviewer/nucleic_acid_phosphate_item.cpp
  src/schrodinger/sketcher/molviewer/nucleic_acid_sugar_item.cpp
  test/schrodinger/sketcher/molviewer/test_amino_acid_item.cpp
Due: clang-format

fixing Mac test failures
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.cpp
Due: clang-format

Adding CHEM monomers
  include/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/widget/amino_acid_symbol_popup.cpp
  src/schrodinger/sketcher/widget/amino_acid_symbol_popup.h
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.cpp
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.h
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  src/schrodinger/sketcher/widget/nucleic_acid_symbol_popup.cpp
  src/schrodinger/sketcher/widget/nucleic_acid_symbol_popup.h
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/schrodinger/sketcher/widget/test_monomer_tool_widget.cpp
Due: clang-format

SKETCH-2881: Clarify linear peptide rendering code
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/sketcher/image_generation.cpp
  src/schrodinger/sketcher/molviewer/monomer_connector_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_connector_item.h
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  test/schrodinger/sketcher/molviewer/test_scene_utils.cpp
Due: clang-format

SKETCH-2881: Use standard coordinate generation for linear peptides
  include/schrodinger/rdkit_extensions/coord_utils.h
  src/schrodinger/rdkit_extensions/coord_utils.cpp
  src/schrodinger/sketcher/image_generation.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/rdkit/coord_utils.cpp
  src/schrodinger/sketcher/rdkit/coord_utils.h
  src/schrodinger/sketcher/rdkit/mol_update.cpp
  src/schrodinger/sketcher/rdkit/mol_update.h
  test/schrodinger/sketcher/rdkit/test_coord_utils.cpp
Due: clang-format

SKETCH-2881: Keep linear peptide options out of reactions
  src/schrodinger/sketcher/image_generation.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
Due: clang-format

SKETCH-2882: Shrinking the custom monomer dialog so it can fit in the Live Design Sketcher frame
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.cpp
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.h
  src/schrodinger/sketcher/dialog/modal_dialog.h
  src/schrodinger/sketcher/dialog/resizable_model_dialog.cpp
  src/schrodinger/sketcher/dialog/resizable_model_dialog.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/custom_monomer_dialog.ui
  src/schrodinger/sketcher/ui/sketcher_widget.ui
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.h
  test/schrodinger/sketcher/dialog/test_custom_monomer_dialog.cpp
  test/schrodinger/sketcher/dialog/test_resizable_model_dialog.cpp
Due: clang-format

SKETCH-2865: Monomer mutations now warn if the mutation would remove a bound attachment point
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.cpp
  src/schrodinger/sketcher/molviewer/removing_bound_monomeric_connection.cpp
  src/schrodinger/sketcher/molviewer/removing_bound_monomeric_connection.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

Fixing ResizableModalDialog class name and keypress handling
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.cpp
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.h
  src/schrodinger/sketcher/dialog/resizable_model_dialog.cpp
  src/schrodinger/sketcher/dialog/resizable_model_dialog.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  test/schrodinger/sketcher/dialog/test_custom_monomer_dialog.cpp
  test/schrodinger/sketcher/dialog/test_resizable_model_dialog.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

fixing file names
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.h
  src/schrodinger/sketcher/dialog/resizable_modal_dialog.cpp
  src/schrodinger/sketcher/dialog/resizable_modal_dialog.h
  test/schrodinger/sketcher/dialog/test_resizable_modal_dialog.cpp
Due: clang-format

add patches
  external/CMakeLists.txt
  external/rdkit_molecular_templates_pr_29.patch
  external/rdkit_pr_9536.patch
  external/rdkit_pr_9550.patch
  external/rdkit_pr_9563.patch
  external/rdkit_pr_9630.patch
  external/rdkit_pr_9639.patch
  external/rdkit_pr_9649.patch
  external/rdkit_pr_9650.patch
Due: none

SKETCH-1924: Remove the 200 atom import limit
  src/schrodinger/sketcher/image_generation.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/molviewer/constants.h
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2889: Hide "Load Monomer Database..." when host supplies monomers
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/main.cpp
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.h
  test/schrodinger/sketcher/widget/test_sketcher_top_bar.cpp
Due: clang-format

SKETCH-2889: Remove unused custom monomer WASM APIs
  src/app/main.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2893: Add Qt removal and React migration plan
  docs/qt-removal-plan.md
Due: none

SKETCH-2893: Trim plan and add per-phase PR staging
  docs/qt-removal-plan.md
Due: none

SKETCH-2893: Clarify architecture diagram and expand Phase 5 PRs
  docs/qt-removal-plan.md
Due: none

SKETCH-2893: Collapse Phase 5 into 11 PRs
  docs/qt-removal-plan.md
Due: none

SKETCH-2893: Turn Qt-host spike into a gate on Qt-host integration
  docs/qt-removal-plan.md
Due: none

update test ref
  test/wasm/__snapshots__/wasm_api.test.js/export-text-RDMOL-BINARY-BASE64.txt
Due: none
