Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: [--dry-run, --Werror]
      - id: prettier
        name: prettier
        entry: npx prettier
        language: system
        files: \.js$
        args: [--check]

add more test sets
  .github/workflows/test-monomer-coordgen.yml
  test_data/bicyclic_peptides.csv
  test_data/mixed_branch_peptides.csv
Due: none

add new, bigger test set
  test_data/chembl21_1k.csv
Due: none

import patch
  src/schrodinger/rdkit_extensions/default_monomer_definitions.json
  src/schrodinger/rdkit_extensions/monomer_database.cpp
Due: clang-format

CRDGEN-392 treat bonds with two LINKAGEs as backbone bonds
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

Using QueuedConnection to fix dialogs on WASM builds with Qt 6.8
  src/schrodinger/sketcher/menu/sketcher_top_bar_menus.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
Due: clang-format

SKETCH-2651: Preventing Qt from trying to auto-apply dark mode color scheme
  src/app/main.cpp
Due: clang-format

adding a QueuedConnection for import from file
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
Due: clang-format

pr suggestions
  scripts/generate_helm_gallery.py
Due: none

chris's suggestions
  .github/scripts/generate_helm_gallery.mjs
  .github/workflows/sketcher-builder.yml
  .github/workflows/test-monomer-coordgen.yml
  CMakeLists.txt
  README.md
  scripts/generate_helm_gallery.py
  src/helm_to_svg.cpp
Due: clang-format

adding note about attachment points being 1-indexed
  src/schrodinger/sketcher/rdkit/monomeric.cpp
Due: clang-format

pr requests
  .github/workflows/test-monomer-coordgen.yml
Due: none

add debug info to the table
  .github/scripts/generate_helm_gallery.mjs
Due: none

fix CSV parsing error print link to table when runnign the job manually
  .github/scripts/generate_helm_gallery.mjs
  .github/workflows/test-monomer-coordgen.yml
Due: none

get more info for failures
  .github/scripts/generate_helm_gallery.mjs
Due: none

more debug
  .github/scripts/generate_helm_gallery.mjs
Due: none

handle different line endings
  .github/scripts/generate_helm_gallery.mjs
Due: none

desperate attempt to read error messages
  .github/scripts/generate_helm_gallery.mjs
Due: none

add debug info
  .github/scripts/generate_helm_gallery.mjs
Due: none

expose get_last_error
  .github/scripts/generate_helm_gallery.mjs
  src/app/main.cpp
Due: clang-format

Removing debugging output (#213)
  src/schrodinger/sketcher/model/mol_model.cpp
Due: clang-format

return default color if getting monomer database fails
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
Due: clang-format

trust emscripten error handling
  .github/scripts/generate_helm_gallery.mjs
  src/app/main.cpp
Due: clang-format

Revert "trust emscripten error handling"
  .github/scripts/generate_helm_gallery.mjs
  src/app/main.cpp
Due: clang-format

CVB's suggestions
  .github/scripts/generate_helm_gallery.mjs
  .github/workflows/monomer-image-gallery.yml
  test/testfiles/helm-gallery/bicyclic_peptides.csv
  test/testfiles/helm-gallery/chembl21_1k.csv
  test/testfiles/helm-gallery/mixed_branch_peptides.csv
  test/testfiles/helm-gallery/original_test_data.csv
  version.json
Due: none

CRDGEN-388 Refactor monomer resizing to batched, cluster-aware (#204)
  include/schrodinger/rdkit_extensions/coord_utils.h
  src/schrodinger/rdkit_extensions/coord_utils.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/molviewer/coord_utils.cpp
  src/schrodinger/sketcher/molviewer/coord_utils.h
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

CRDGEN-399 better snaking for long chains
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

SHARED-11858: force the monomer DB canonicalization to use RDKit modern stereo
  src/schrodinger/rdkit_extensions/default_monomer_definitions.json
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
Due: clang-format

Export exception handling helpers to JavaScript
  CMakeLists.txt
Due: none

Add WASM exception handling test using Emscripten helpers
  CMakeLists.txt
  test/wasm/wasm_api.test.js
Due: prettier

Check exception type is truthy instead of snapshot
  test/wasm/wasm_api.test.js
Due: prettier

Simplify exception handling test
  test/wasm/wasm_api.test.js
Due: prettier

Snapshot exception type to see what it contains
  test/wasm/wasm_api.test.js
Due: prettier

Remove decrementExceptionRefcount from test
  CMakeLists.txt
  test/wasm/wasm_api.test.js
Due: prettier

Remove mmshare dependencies from monomer database test
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
  test/schrodinger/test/scopedenv.h
Due: clang-format

Fix clang-format violation
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
Due: clang-format

fflag
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
  test/schrodinger/test/scopedenv.h
Due: clang-format

Remove mmshare dependencies from monomer database test (#226)
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
  test/schrodinger/test/scopedenv.h
Due: clang-format

bump rdkit
  external/CMakeLists.txt
  external/rdkit_extern_patch.patch
  external/rdkit_pr_9006_9016.patch
  external/versions.json
  src/schrodinger/sketcher/rdkit/stereochemistry.cpp
Due: clang-format

Add WASM exception handling test using Emscripten helpers (#224)
  CMakeLists.txt
  test/wasm/wasm_api.test.js
Due: prettier

update test ref
  test/wasm/__snapshots__/wasm_api.test.js/export-text-RDMOL-BINARY-BASE64.txt
Due: none
