Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: [--dry-run, --Werror]
      - id: prettier
        name: prettier
        entry: npx prettier
        language: system
        files: \.js$
        args: [--check]

Wait for SDF clipboard export in import test
  test/wasm/e2e/from_squish/test/tst_import_menu.test.js
Due: prettier

Preserve bond topology menu labels
  test/wasm/e2e/from_squish/test/__snapshots__/tst_bond_context_menu.test.js/Either.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_bond_context_menu.test.js/Not-In-a-Ring.png
  test/wasm/e2e/from_squish/wrappers/sketcher.js
Due: prettier

Add wrapper regression contracts
  test/wasm/e2e/from_squish/test/wrapper_contracts.test.js
Due: prettier

Port enumeration details Playwright test
  test/wasm/e2e/from_squish/test/__snapshots__/tst_enumeration_details.test.js/add-attachment-point-draw-mode-again.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_enumeration_details.test.js/add-attachment-point-draw-mode.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_enumeration_details.test.js/add-r1-to-r1-again.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_enumeration_details.test.js/add-r1-to-r1.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_enumeration_details.test.js/add-r1.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_enumeration_details.test.js/add-r2.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_enumeration_details.test.js/add-r3.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_enumeration_details.test.js/add-r9.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_enumeration_details.test.js/change-to-r5.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_enumeration_details.test.js/fill-in-r-groups.png
  test/wasm/e2e/from_squish/test/tst_enumeration_details.test.js
Due: prettier

Port bracket subgroup Playwright test
  test/wasm/e2e/from_squish/test/__snapshots__/tst_bracket_subgroup.test.js/bracket-subgroup-COP-EU.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_bracket_subgroup.test.js/bracket-subgroup-COP-HH.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_bracket_subgroup.test.js/bracket-subgroup-COP-HT.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_bracket_subgroup.test.js/bracket-subgroup-SRU-EU-nolabel.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_bracket_subgroup.test.js/bracket-subgroup-SRU-HH-nolabel.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_bracket_subgroup.test.js/bracket-subgroup-SRU-HT-constantlabel.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_bracket_subgroup.test.js/bracket-subgroup-SRU-HT-nolabel.png
  test/wasm/e2e/from_squish/test/__snapshots__/tst_bracket_subgroup.test.js/bracket-subgroup-SRU-HT-rangelabel.png
  test/wasm/e2e/from_squish/test/tst_bracket_subgroup.test.js
  test/wasm/e2e/from_squish/test/wrapper_contracts.test.js
  test/wasm/e2e/from_squish/wrappers/sketcher.js
Due: prettier

SKETCH-2844: Fixing UNK and N button style sheets
  src/schrodinger/sketcher/sketcher_css_style.h
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  test/schrodinger/sketcher/widget/test_monomer_tool_widget.cpp
Due: clang-format

SKETCH-2852: Fixing crash during click-and-drag with monomer tool (#415)
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2844: Fixing X and N monomer wildcard button styling (#416)
  src/schrodinger/sketcher/sketcher_css_style.h
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  test/schrodinger/sketcher/widget/test_monomer_tool_widget.cpp
Due: clang-format

Extend isolated Playwright export bridge
  CMakeLists.txt
  src/app/playwright_test_bridge.cpp
  src/app/playwright_test_bridge.h
  src/schrodinger/sketcher/dialog/file_export_dialog.cpp
Due: clang-format

Skip formatting gate for manual wasm artifact builds
  .github/workflows/sketcher-builder.yml
Due: none

Run manual wasm build after skipped formatting gate
  .github/workflows/sketcher-builder.yml
Due: none

Prefer active modal controls in Playwright bridge
  src/app/playwright_test_bridge.cpp
Due: clang-format

SKETCH-2643: Add a Playwright test bridge for the WASM sketcher
  src/app/main.cpp
  src/app/playwright_test_bridge.cpp
  src/app/sketcher_instance.h
Due: clang-format

SKETCH-2643: Build the e2e helpers on the test bridge
  test/wasm/e2e/analog.test.js
  test/wasm/e2e/e2e_helpers.js
  test/wasm/playwright.config.js
Due: prettier

SKETCH-2643: Assert the incompatible monomer button is disabled
  test/wasm/e2e/monomer_mutation.test.js
Due: prettier

SKETCH-2851: Hooking up Copy All As -> Image in top bar menu (#414)
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.h
  test/schrodinger/sketcher/test_common.h
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

SKETCH-2853: Protecting against empty $CMAKE_BUILD_TYPE
  CMakeLists.txt
Due: none

SKETCH-2850: Removing H-bond AP from non-cysteine peptide monomers
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2853: Protecting against empty $CMAKE_BUILD_TYPE (#417)
  CMakeLists.txt
Due: none

SKETCH-2643: Prefer an objectName match when resolving a menu action
  src/app/playwright_test_bridge.cpp
  test/wasm/e2e/e2e_helpers.js
Due: clang-format, prettier

CRDGEN-419: SEGV in RNA coordgen
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

NO_JIRA_ID: clean up redundant includes
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/molviewer/view.cpp
  src/schrodinger/sketcher/tool/draw_chain_scene_tool.h
Due: clang-format

SKETCH-2850: Removing H-bond AP from non-cysteine peptide monomers (#418)
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2643: Address review comments on the test bridge
  src/schrodinger/sketcher/widget/tool_button_with_popup.h
  test/wasm/e2e/e2e_helpers.js
Due: clang-format, prettier

SKETCH-2643: Report text for widgets that aren't buttons
  src/app/playwright_test_bridge.cpp
  test/wasm/e2e/e2e_helpers.js
Due: clang-format, prettier

SKETCH-2375: Fix clang-format violations in convert.cpp and mol_model.h
  src/schrodinger/rdkit_extensions/convert.cpp
  src/schrodinger/sketcher/model/mol_model.h
Due: clang-format

SKETCH-2375: Remove collapse_attachment_point_dummies wrapper
  src/schrodinger/rdkit_extensions/convert.cpp
Due: clang-format

SKETCH-2375: Migrate to RDKit native attachment point handling
  src/schrodinger/rdkit_extensions/convert.cpp
  src/schrodinger/rdkit_extensions/rgroup.cpp
  src/schrodinger/sketcher/rdkit/rgroup.cpp
Due: clang-format

SKETCH-2375: Preserve attachment point compatibility
  include/schrodinger/rdkit_extensions/rgroup.h
  src/schrodinger/rdkit_extensions/convert.cpp
  src/schrodinger/rdkit_extensions/rgroup.cpp
  src/schrodinger/rdkit_extensions/stereochemistry.cpp
  src/schrodinger/sketcher/rdkit/rgroup.cpp
  src/schrodinger/sketcher/rdkit/stereochemistry.cpp
  test/schrodinger/rdkit_extensions/test_convert.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2375: Remove is_attachment_point_dummy, inline RDKit's isAttachmentPoint
  include/schrodinger/rdkit_extensions/rgroup.h
  src/schrodinger/rdkit_extensions/convert.cpp
  src/schrodinger/rdkit_extensions/rgroup.cpp
  src/schrodinger/rdkit_extensions/stereochemistry.cpp
  src/schrodinger/sketcher/rdkit/rgroup.cpp
  src/schrodinger/sketcher/rdkit/stereochemistry.cpp
Due: clang-format

SKETCH-2375: Use RDKit native isAttachmentPoint and addExplicitAttachmentPoint
  src/schrodinger/rdkit_extensions/convert.cpp
  src/schrodinger/rdkit_extensions/rgroup.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/rdkit/rgroup.cpp
  src/schrodinger/sketcher/rdkit/rgroup.h
Due: clang-format

SHARED-12615: fix potential dereferencing elements in an empty container (#410)
  src/schrodinger/rdkit_extensions/fasta/to_string.cpp
  src/schrodinger/rdkit_extensions/helm/to_string.cpp
Due: clang-format

SKETCH-2643: Address a second round of test bridge review comments
  src/app/playwright_test_bridge.cpp
Due: clang-format

Fixing intermittent memtest failure
  test/valgrind_Qt_runner_suppressions.Linux-x86_64
Due: none

SKETCH-2593: Promote rdkit_extensions headers to the public include tree
  include/schrodinger/rdkit_extensions/atomistic_conversions.h
  include/schrodinger/rdkit_extensions/biologics_fingerprint.h
  include/schrodinger/rdkit_extensions/constants.h
  include/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
  include/schrodinger/rdkit_extensions/monomer_database.h
  include/schrodinger/rdkit_extensions/monomer_directions.h
  include/schrodinger/rdkit_extensions/polymer_group.h
Due: clang-format

SKETCH-2643: Document the visible-widget preference as intentional
  src/app/playwright_test_bridge.cpp
Due: clang-format
