Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: [--dry-run, --Werror]
      - id: prettier
        name: prettier
        entry: npx prettier
        language: system
        files: \.js$
        args: [--check]

SHARED-12285: Avoid bad_any_cast crash by storing monomer size as std::array
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

wasm test update
  test/wasm/__snapshots__/wasm_api.test.js/export-text-RDMOL-BINARY-BASE64.txt
Due: none

fix iterator invalidations
  src/schrodinger/rdkit_extensions/convert.cpp
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

clang format
  src/schrodinger/rdkit_extensions/convert.cpp
Due: clang-format

SKETCH-2618: Fixing ribose attachment point naming
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/tool/test_draw_nucleotide_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2618: Adding cursor hint for nucleotide tools
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.h
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.h
Due: clang-format

Unshadow variable.
  src/schrodinger/rdkit_extensions/convert.cpp
Due: clang-format

Addressed comments
  src/schrodinger/sketcher/model/mol_model.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2618: Fixing ribose attachment point naming (#327)
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/tool/test_draw_nucleotide_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2722: Preserve unspecified double bond stereo from SMILES paste
  src/schrodinger/rdkit_extensions/convert.cpp
  src/schrodinger/sketcher/rdkit/mol_update.cpp
  test/schrodinger/sketcher/rdkit/test_mol_update.cpp
Due: clang-format

SKETCH-2722: Move fix into assign_stereochemistry, drop dead code
  src/schrodinger/rdkit_extensions/convert.cpp
  src/schrodinger/rdkit_extensions/stereochemistry.cpp
  src/schrodinger/sketcher/rdkit/mol_update.cpp
  test/schrodinger/rdkit_extensions/test_convert.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_mol_update.cpp
  test/schrodinger/sketcher/rdkit/test_stereochemistry.cpp
Due: clang-format

update-comment
  src/schrodinger/rdkit_extensions/stereochemistry.cpp
Due: clang-format

Fixing docstring
  src/schrodinger/sketcher/molviewer/scene_utils.h
Due: clang-format

SKETCH-2618: Adding cursor hint for nucleotide tools (#328)
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.h
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.h
Due: clang-format

SKETCH-2536: Update branding, add app icons, create macOS bundle (#321)
  CMakeLists.txt
  README.md
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/README.md
  src/app/crash_handler.cpp
  src/app/crash_handler.h
  src/app/main.cpp
  src/app/sketcher.icns
  src/app/sketcher.ico
  src/app/sketcher.rc
  src/schrodinger/sketcher/icons/2D-Sketcher-watermark.svg
  src/schrodinger/sketcher/icons/sketcher-logo.svg
  src/schrodinger/sketcher/icons/sketcher-watermark-dark.svg
  src/schrodinger/sketcher/icons/sketcher-watermark.svg
  src/schrodinger/sketcher/menu/sketcher_top_bar_menus.cpp
  src/schrodinger/sketcher/resources/schrodinger_livedesign.qss
  src/schrodinger/sketcher/sketcher.qrc
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/about_2d_sketcher.ui
  src/schrodinger/sketcher/ui/sketcher_welcome_dialog.ui
  src/schrodinger/sketcher/ui/sketcher_widget.ui
  wasm/public/wasm_shell.html
Due: clang-format

SKETCH-2709: Remove unused test-summary GitHub Action
  .github/workflows/sketcher-builder.yml
Due: none

Run cmake-format across CMakeLists.txt files
  CMakeLists.txt
  external/CMakeLists.txt
  external/sqlite_cmake/CMakeLists.txt
Due: none

Expand pre-commit coverage to YAML/JSON/MD/HTML, Python, and CMake
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/activate-emsdk/action.yml
  .github/actions/activate-msvc/action.yml
  .github/actions/build-external/action.yml
  .github/actions/bump-version/action.yml
  .github/actions/publish-npm-package/action.yml
  .github/workflows/sketcher-builder.yml
  .pre-commit-config.yaml
  .style.yapf
  README.md
  external/versions.json
  src/schrodinger/rdkit_extensions/default_monomer_definitions.json
  src/schrodinger/rdkit_extensions/helm/dynamic_bitset_on_bits_wrapper.h
  src/schrodinger/rdkit_extensions/helm/helm_utils.cpp
  version.json
  wasm/public/wasm_shell.html
Due: clang-format

Use entry: false instead of language: fail for forbid-bad-extensions hook
  .pre-commit-config.yaml
Due: none

Use single quotes in .pre-commit-config.yaml to satisfy prettier
  .pre-commit-config.yaml
Due: none

Move forbid-bad-extensions hook first; pin prettier in workflow
  .github/workflows/sketcher-builder.yml
  .pre-commit-config.yaml
Due: none

Pin prettier in .pre-commit-config.yaml instead of the workflow
  .github/workflows/sketcher-builder.yml
  .pre-commit-config.yaml
Due: none

Set tabWidth: 4 for JSON files in .prettierrc
  .prettierrc
  external/versions.json
  src/schrodinger/rdkit_extensions/default_monomer_definitions.json
  test/wasm/package.json
  version.json
  wasm/package/package.json
Due: none

SKETCH-2709: Remove unused test-summary GitHub Action (#329)
  .github/workflows/sketcher-builder.yml
Due: none

BLDMGR-11701: Update RDKit to 2026.03.2 in 2026-3 (#324)
  external/CMakeLists.txt
  external/rdkit_extern_patch.patch
  external/rdkit_revert_pr_9082.patch
  external/versions.json
  src/schrodinger/rdkit_extensions/convert.cpp
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
  test/schrodinger/rdkit_extensions/test_convert.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/wasm/__snapshots__/wasm_api.test.js/export-text-RDMOL-BINARY-BASE64.txt
Due: clang-format

SKETCH-2735: Default to ATOMISTIC_OR_MONOMERIC and drop runtime toggles
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/main.cpp
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  test/wasm/e2e/analog.test.js
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/monomer_mutation.test.js
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

fix-test
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
Due: clang-format

Expand pre-commit coverage to YAML/JSON/MD/HTML, Python, and CMake (#330)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/activate-emsdk/action.yml
  .github/actions/activate-msvc/action.yml
  .github/actions/build-external/action.yml
  .github/actions/bump-version/action.yml
  .github/actions/publish-npm-package/action.yml
  .github/workflows/sketcher-builder.yml
  .pre-commit-config.yaml
  .prettierrc
  .style.yapf
  README.md
  src/schrodinger/rdkit_extensions/default_monomer_definitions.json
  src/schrodinger/rdkit_extensions/helm/dynamic_bitset_on_bits_wrapper.h
  src/schrodinger/rdkit_extensions/helm/helm_utils.cpp
  test/wasm/package.json
  wasm/package/package.json
  wasm/public/wasm_shell.html
Due: clang-format

SKETCH-2735: Add workflow to regenerate wasm playwright snapshots
  .github/workflows/sketcher-builder.yml
  .github/workflows/update-wasm-snapshots.yml
Due: none

SKETCH-2735: Reshape snapshot workflow to consume an existing build run
  .github/workflows/sketcher-builder.yml
  .github/workflows/update-wasm-snapshots.yml
Due: none

SKETCH-2735: Update wasm draw-bond snapshot for default interface type
  test/wasm/e2e/__snapshots__/drawing.test.js/e2e-draw-bond.png
Due: none

SKETCH-2709: Replace ilammy/msvc-dev-cmd with a PowerShell script
  .github/actions/activate-msvc/action.yml
Due: none

Upgrading fortran-lang/setup-fortran to v1.9.0 and adding FORCE_JAVASCRIPT_ACTIONS_TO_NODE24
  .github/actions/activate-msvc/action.yml
  .github/workflows/sketcher-builder.yml
Due: none

SKETCH-2709: Replace ilammy/msvc-dev-cmd with a PowerShell script (#332)
  .github/actions/activate-msvc/action.yml
Due: none

SKETCH-2577: Preserve wiggly bonds through wedgeMolBonds and mol_model
  src/schrodinger/rdkit_extensions/stereochemistry.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  test/schrodinger/rdkit_extensions/test_convert.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_stereochemistry.cpp
Due: clang-format

SKETCH-2497: Add bump-quarter mode to bump-version action
  .github/actions/bump-version/action.yml
  .github/actions/bump-version/bump_version.py
  .github/workflows/sketcher-builder.yml
  test/github_actions/test_bump_version.py
Due: none

SKETCH-2497: Pin pytest and clean up sys.path in test
  .github/workflows/sketcher-builder.yml
  test/github_actions/test_bump_version.py
Due: none

SKETCH-2497: Apply yapf formatting
  .github/actions/bump-version/bump_version.py
  test/github_actions/test_bump_version.py
Due: none

SKETCH-2735: Clarify update-wasm-snapshots workflow header
  .github/workflows/update-wasm-snapshots.yml
Due: none

SKETCH-2497: Add bump-quarter mode to bump-version action (#331)
  .github/actions/bump-version/action.yml
  .github/actions/bump-version/bump_version.py
  .github/workflows/sketcher-builder.yml
  test/github_actions/test_bump_version.py
Due: none
