Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - --dry-run
  - --Werror

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - --check

clang-format
  src/schrodinger/sketcher/image_generation.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
Due: clang-format

improving the docstring for test_sugar_phosphate_attachment_selection
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
Due: clang-format

Address embedding API review feedback
  README.md
  test/wasm/html_api.test.js
  test/wasm/package.json
  wasm/README.md
  wasm/public/wasm_shell.html
Due: prettier

Allow Pages deployments from a selected ref
  .github/workflows/deploy-pages.yml
Due: none

switching atom property to use for SMILES
  src/schrodinger/sketcher/rdkit/monomeric.cpp
Due: clang-format

SKETCH-2741: Adding a custom monomer tool with a Sketcher dialog
  include/schrodinger/rdkit_extensions/monomer_mol.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.cpp
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.h
  src/schrodinger/sketcher/icons/add_custom_monomer.png
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/sketcher.qrc
  src/schrodinger/sketcher/sketcher_css_style.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
  src/schrodinger/sketcher/ui/custom_monomer_dialog.ui
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  test/schrodinger/sketcher/dialog/test_custom_monomer_dialog.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_monomer_integration_tests_common.h
Due: clang-format

wip
  CMakeLists.txt
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.h
  src/schrodinger/sketcher/molviewer/amino_acid_item.cpp
  src/schrodinger/sketcher/molviewer/chem_monomer_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_constants.h
  src/schrodinger/sketcher/molviewer/nucleic_acid_base_item.cpp
  src/schrodinger/sketcher/molviewer/nucleic_acid_phosphate_item.cpp
  src/schrodinger/sketcher/molviewer/nucleic_acid_sugar_item.cpp
  test/schrodinger/sketcher/molviewer/test_amino_acid_item.cpp
Due: clang-format

initialize variable
  src/schrodinger/sketcher/molviewer/monomer_connector_item.cpp
Due: clang-format

make connection line diamonds stem from any side or corner, not just above or below (#408)
  src/schrodinger/sketcher/molviewer/coord_utils.cpp
  src/schrodinger/sketcher/molviewer/coord_utils.h
  src/schrodinger/sketcher/molviewer/monomer_attachment_point_labels.cpp
  src/schrodinger/sketcher/molviewer/monomer_connector_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_constants.h
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
Due: clang-format

fix independent turn boundary handling
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

apply clang-format to regression test
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

SKETCH-2643: Resolve widgets on foreground Qt surfaces
  src/app/playwright_test_bridge.cpp
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/playwright_bridge_top_level.test.js
Due: clang-format, prettier

claude
  src/schrodinger/sketcher/dialog/file_export_dialog.cpp
  src/schrodinger/sketcher/dialog/file_export_dialog.h
  src/schrodinger/sketcher/dialog/file_import_export.cpp
  test/schrodinger/sketcher/dialog/test_file_export_dialog.cpp
Due: clang-format

changes
  src/schrodinger/sketcher/dialog/file_import_export.cpp
  src/schrodinger/sketcher/dialog/file_import_export.h
  src/schrodinger/sketcher/menu/cut_copy_action_manager.cpp
  test/schrodinger/sketcher/dialog/test_file_import_export.cpp
  test/schrodinger/sketcher/menu/test_cut_copy_action_manager.cpp
Due: clang-format

pr/SKETCH-2516-cxsmarts
  src/schrodinger/sketcher/dialog/file_export_dialog.cpp
  src/schrodinger/sketcher/dialog/file_import_export.cpp
  test/schrodinger/sketcher/dialog/test_file_export_dialog.cpp
  test/schrodinger/sketcher/dialog/test_file_import_export.cpp
Due: clang-format

SKETCH-2516: Address review feedback on the read/write dialogs
  src/schrodinger/sketcher/dialog/file_export_dialog.cpp
  src/schrodinger/sketcher/dialog/file_import_export.cpp
  src/schrodinger/sketcher/dialog/file_import_export.h
  src/schrodinger/sketcher/dialog/paste_in_text_dialog.cpp
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  test/schrodinger/sketcher/dialog/test_file_import_export.cpp
  test/schrodinger/sketcher/dialog/test_paste_in_text_dialog.cpp
Due: clang-format

moving new fixture into rdkit_extensions directory since we don't want to put it in test/schrodinger in mmshare
  test/schrodinger/rdkit_extensions/local_monomer_db_fixture.h
  test/schrodinger/rdkit_extensions/test_common.h
  test/schrodinger/sketcher/qapplication_required_fixture.h
Due: clang-format

SKETCH-2862: Ensure that residue names exist in the monomer DB for imported monomeric structures and that all SMILES are valid (#437)
  src/schrodinger/sketcher/image_generation.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/test_image_generation.cpp
  test/schrodinger/sketcher/tool/test_draw_nucleotide_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2786: Connections between sugars and phosphates now use the correct phosphate attachment point (#436)
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  test/schrodinger/sketcher/tool/test_draw_monomeric_connection_scene_tool_integration_tests.cpp
  test/schrodinger/sketcher/tool/test_monomer_integration_tests_common.h
Due: clang-format

SKETCH-2788: Adding "Load Monomer Database..." to import button menu (#426)
  external/CMakeLists.txt
  include/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/sketcher/dialog/error_dialog.cpp
  src/schrodinger/sketcher/dialog/error_dialog.h
  src/schrodinger/sketcher/dialog/file_export_dialog.cpp
  src/schrodinger/sketcher/dialog/message_box_dialog.cpp
  src/schrodinger/sketcher/dialog/message_box_dialog.h
  src/schrodinger/sketcher/menu/selection_context_menu.cpp
  src/schrodinger/sketcher/menu/sketcher_top_bar_menus.cpp
  src/schrodinger/sketcher/menu/sketcher_top_bar_menus.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/message_box_dialog.ui
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.cpp
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.h
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.h
  src/schrodinger/sketcher/widget/tool_button_with_popup.cpp
  src/schrodinger/sketcher/widget/tool_button_with_popup.h
  test/schrodinger/rdkit_extensions/local_monomer_db_fixture.h
  test/schrodinger/rdkit_extensions/test_common.h
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
  test/schrodinger/sketcher/menu/test_monomer_context_menu.cpp
  test/schrodinger/sketcher/model/test_tags.cpp
  test/schrodinger/sketcher/molviewer/test_monomer_coloring.cpp
  test/schrodinger/sketcher/qapplication_required_fixture.h
  test/schrodinger/sketcher/rdkit/test_atom_properties.cpp
  test/schrodinger/sketcher/rdkit/test_atoms_and_bonds.cpp
  test/schrodinger/sketcher/rdkit/test_variable_attachment_bond.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/schrodinger/sketcher/widget/test_monomer_tool_widget.cpp
  test/valgrind_TestWidgetFixture_suppressions.Linux-x86_64
Due: clang-format

refactoring and documentation changes for get_attachment_points_for_smiles
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
Due: clang-format

NO_JIRA_ID clarify fading label implementation
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.h
  test/schrodinger/sketcher/molviewer/test_amino_acid_item.cpp
Due: clang-format

NO_JIRA_ID fix CMake formatting
  CMakeLists.txt
Due: none

NO_JIRA_ID remove unrelated CMake change
  CMakeLists.txt
Due: none

NO_JIRA_ID refer to label length constant in comments
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.h
Due: clang-format

LDID8-1284: expose load custom monomer api (#429)
  wasm/package/src/Sketcher.tsx
Due: none

renaming is_smiles_opt to is_smiles
  include/schrodinger/rdkit_extensions/monomer_mol.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
Due: clang-format

SKETCH-2857: Unbound attachment points are now based on Monomer DB and SMILES strings (#431)
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomeric_connection_scene_tool.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2857: Avoiding crashes with X and N monomers, as well as with invalid monomers from the custom nucleotide tool
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/draw_monomer_fragment_scene_tool.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/tool/test_draw_nucleotide_scene_tool_integration_tests.cpp
Due: clang-format

clang-format
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/tool/test_draw_nucleotide_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2516: Order import formats by the active tab
  src/schrodinger/sketcher/dialog/file_import_export.cpp
  src/schrodinger/sketcher/dialog/file_import_export.h
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  test/schrodinger/sketcher/dialog/test_file_import_export.cpp
Due: clang-format

SKETCH-2823: Lead the import dialog with a catch-all filter
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
Due: clang-format

SKETCH-2849: Fixing monomeric clean up when starting coordinates are vaguely reasonable
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2643: Resolve widgets on foreground Qt surfaces (#425)
  src/app/playwright_test_bridge.cpp
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/playwright_bridge_top_level.test.js
Due: clang-format, prettier

Update sketcher codeowner to Jarrett while Ethan is out
  .github/CODEOWNERS
Due: none

SKETCH-2823: Lead the import dialog with a catch-all filter (#444)
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cpp|h)$
  prettier: any of: \.js$
