Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: [--dry-run, --Werror]
      - id: prettier
        name: prettier
        entry: npx prettier
        language: system
        files: \.js$
        args: [--check]

SHARED-12114: toMonomeric: handle intrachain rings
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

Unknown monomer throw
  src/app/main.cpp
  test/schrodinger/rdkit_extensions/test_conversions.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2482: Use monomer buttons for analog UI
  src/app/main.cpp
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/sketcher_css_style.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/amino_acid_symbol_popup.cpp
  src/schrodinger/sketcher/widget/amino_acid_symbol_popup.h
  src/schrodinger/sketcher/widget/modular_tool_button.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/wasm/e2e/analog.test.js
  test/wasm/e2e/e2e_helpers.js
Due: clang-format, prettier

fixing typo that Jarrett caught
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
Due: clang-format

removing templating and constexpr on ap_model_name_for
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
Due: clang-format

SKETCH-2483: Adding MolModel::addBoundMonomer and addMonomericConnection and enabling clicks in monomeric scene tools
  include/schrodinger/rdkit_extensions/monomer_mol.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

adding parenthesis to fix Mac and Linux warning
  src/schrodinger/sketcher/model/mol_model.cpp
Due: clang-format

Fix installed binary on macOS by preserving build-tree rpaths
  CMakeLists.txt
Due: none

Add dl dependency
  CMakeLists.txt
Due: none

SHARED-10787: toMonomeric: support multiple chains (#7318)
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
  test/schrodinger/rdkit_extensions/test_conversions.cpp
  test/schrodinger/rdkit_extensions/test_helm_to_rdkit.cpp
Due: clang-format

SHARED-12114: Determine "cut" for non-Cys linkers (#7322)
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

Apply recent toMonomeric() fixes (#283)
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
  test/schrodinger/rdkit_extensions/test_conversions.cpp
  test/schrodinger/rdkit_extensions/test_helm_to_rdkit.cpp
Due: clang-format

SKETCH-2710: Skip CIP labeling for molecules with query bonds
  src/schrodinger/sketcher/rdkit/mol_update.cpp
  test/schrodinger/sketcher/rdkit/test_mol_update.cpp
Due: clang-format

SKETCH-2483: now drawing hint connections when hovering over a monomer or an unbound attachment point (#270)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/monomer_directions.cpp
  src/schrodinger/rdkit_extensions/monomer_directions.h
  src/schrodinger/sketcher/molviewer/constants.h
  src/schrodinger/sketcher/molviewer/monomer_attachment_point_labels.cpp
  src/schrodinger/sketcher/molviewer/monomer_attachment_point_labels.h
  src/schrodinger/sketcher/molviewer/monomer_connector_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_connector_item.h
  src/schrodinger/sketcher/molviewer/monomer_constants.h
  src/schrodinger/sketcher/molviewer/monomer_hint_fragment_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_hint_fragment_item.h
  src/schrodinger/sketcher/molviewer/scene_utils.h
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool.cpp
Due: clang-format

SKETCH-2483: Improvements for monomer hint structures (#274)
  src/schrodinger/sketcher/molviewer/monomer_attachment_point_labels.cpp
  src/schrodinger/sketcher/molviewer/monomer_attachment_point_labels.h
  src/schrodinger/sketcher/molviewer/monomer_hint_fragment_item.cpp
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool.cpp
Due: clang-format

SKETCH-2710: Skip CIP labeling for molecules with query bonds (#284)
  src/schrodinger/sketcher/rdkit/mol_update.cpp
  test/schrodinger/sketcher/rdkit/test_mol_update.cpp
Due: clang-format

Fix installed binary on macOS: preserve build-tree rpaths (#281)
  CMakeLists.txt
Due: none

Add dl dependency (#282)
  CMakeLists.txt
Due: none

SKETCH-2704: Updating atomistic/monomeric toggle buttons
  src/schrodinger/sketcher/icons/mode_compound.svg
  src/schrodinger/sketcher/molviewer/constants.h
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.h
  src/schrodinger/sketcher/sketcher_css_style.h
  src/schrodinger/sketcher/ui/sketcher_side_bar.ui
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
Due: clang-format

SHARED-11482: Add hydrogen bonds to atomistic mols
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
  test/schrodinger/rdkit_extensions/test_coarse_grain.cpp
Due: clang-format

Update icons
  src/schrodinger/sketcher/icons/select_move_rotate.svg
  src/schrodinger/sketcher/icons/select_move_rotate_dis.svg
Due: none

moving addConnection sanity checks to a new sanityCheckBeforeAddingConnectionToExistingBond function
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
Due: clang-format

clang-format
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
Due: clang-format

SKETCH-2718: Downgrading Qt to 6.7
  external/versions.json
Due: none

SHARED-12179: Add intrapolymer custom bonds
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
  test/schrodinger/rdkit_extensions/test_coarse_grain.cpp
Due: clang-format

prefer the horizontal positions for labels
  src/schrodinger/sketcher/molviewer/coord_utils.cpp
  test/schrodinger/sketcher/molviewer/test_coord_utils.cpp
Due: clang-format

clang
  test/schrodinger/sketcher/molviewer/test_coord_utils.cpp
Due: clang-format

SHARED-12179: Add intrapolymer custom bonds (#287)
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
  test/schrodinger/rdkit_extensions/test_coarse_grain.cpp
Due: clang-format

SHARED-12179: Add intrapolymer custom bonds (#287) (#288)
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
  test/schrodinger/rdkit_extensions/test_coarse_grain.cpp
Due: clang-format

SKETCH-2718: Downgrading Qt to 6.7 (#286)
  external/versions.json
Due: none

now using the standard disabled color (the color we use elsewhere on the sidebar) for the disabled buttons
  src/schrodinger/sketcher/molviewer/constants.h
Due: clang-format

pr suggestions
  src/schrodinger/sketcher/molviewer/coord_utils.cpp
Due: clang-format

SKETCH-2697 prefer positions with positive coordinates to break ties … (#261)
  src/schrodinger/sketcher/molviewer/coord_utils.cpp
  test/schrodinger/sketcher/molviewer/test_coord_utils.cpp
Due: clang-format

SKETCH-2483: Adding MolModel::addBoundMonomer and addMonomericConnection and enabling clicks in monomeric scene tools (#280)
  include/schrodinger/rdkit_extensions/monomer_mol.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2704: Updating atomistic/monomeric toggle buttons (#285)
  src/schrodinger/sketcher/icons/mode_compound.svg
  src/schrodinger/sketcher/molviewer/constants.h
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.h
  src/schrodinger/sketcher/sketcher_css_style.h
  src/schrodinger/sketcher/ui/sketcher_side_bar.ui
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
Due: clang-format

SHARED-12114: Fix assert in findNeighbor() (#7548)
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

SHARED-12114: Fix assert in findNeighbor() (#7548) (#289)
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

New sketcher prototype
  new_sketcher/pyproject.toml
  new_sketcher/sketcher.py
Due: none
