Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - --dry-run
  - --Werror

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - --check

SHARED-12622: reject temporary bitsets in dynamic_bitset_on_bits_wrapper
  src/schrodinger/rdkit_extensions/helm/dynamic_bitset_on_bits_wrapper.h
Due: clang-format

Revert "Speed up the WASM CI job (#453)"
  CMakeLists.txt
  src/app/playwright_test_bridge.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  test/schrodinger/sketcher/widget/test_sketcher_top_bar.cpp
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/playwright_bridge_top_level.test.js
Due: clang-format, prettier

Revert "Update sketcher codeowner to Jarrett while Ethan is out"
  .github/CODEOWNERS
Due: none

SKETCH-2884: Converting "+ Custom" button to a ToolButtonWithPopup
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/tool_button_with_popup.cpp
  src/schrodinger/sketcher/widget/tool_button_with_popup.h
  test/schrodinger/sketcher/widget/test_monomer_tool_widget.cpp
Due: clang-format

Revert "Update sketcher codeowner to Jarrett while Ethan is out" (#466)
  .github/CODEOWNERS
Due: none

CRDGEN-428 avoid clash in chains with fused rings (#424)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

CRDGEN-434 Expand layout for large monomer labels
  include/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  test/schrodinger/sketcher/test_image_generation.cpp
Due: clang-format

BLDMGR-12511: Patch RDKit 2026.03.6 for 26-4 (#461)
  external/CMakeLists.txt
  external/rdkit_molecular_templates_pr_29.patch
  external/rdkit_pr_9536.patch
  external/rdkit_pr_9550.patch
  external/rdkit_pr_9563.patch
  external/rdkit_pr_9630.patch
  external/rdkit_pr_9639.patch
  external/rdkit_pr_9649.patch
  external/rdkit_pr_9650.patch
  test/wasm/__snapshots__/wasm_api.test.js/export-text-RDMOL-BINARY-BASE64.txt
Due: none

CRDGEN-434 Fix regression test formatting
  test/schrodinger/sketcher/test_image_generation.cpp
Due: clang-format

SKETCH-2882: Shrinking the custom monomer dialog so it can fit in the Live Design Sketcher frame (#460)
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.cpp
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.h
  src/schrodinger/sketcher/dialog/modal_dialog.h
  src/schrodinger/sketcher/dialog/resizable_modal_dialog.cpp
  src/schrodinger/sketcher/dialog/resizable_modal_dialog.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/custom_monomer_dialog.ui
  src/schrodinger/sketcher/ui/sketcher_widget.ui
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.h
  test/schrodinger/sketcher/dialog/test_custom_monomer_dialog.cpp
  test/schrodinger/sketcher/dialog/test_resizable_modal_dialog.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

SKETCH-2884: Converting "+ Custom" button to a ToolButtonWithPopup (#467)
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/tool_button_with_popup.cpp
  src/schrodinger/sketcher/widget/tool_button_with_popup.h
  test/schrodinger/sketcher/widget/test_monomer_tool_widget.cpp
Due: clang-format

SKETCH-2886: Updating "+ Custom" button and dialog titles to match spec
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.cpp
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/tool_button_with_popup.cpp
  src/schrodinger/sketcher/widget/tool_button_with_popup.h
  test/schrodinger/sketcher/dialog/test_custom_monomer_dialog.cpp
  test/schrodinger/sketcher/widget/test_monomer_tool_widget.cpp
Due: clang-format

SKETCH-2889: Hide "Load Monomer Database..." when host supplies monomers (#462)
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/main.cpp
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.h
  test/schrodinger/sketcher/widget/test_sketcher_top_bar.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2870: Adding button for unclassified monomers and adding scroll bar to analog pop ups (#457)
  include/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/tool/abstract_draw_monomer_or_monomeric_connection_scene_tool.cpp
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/amino_acid_symbol_popup.cpp
  src/schrodinger/sketcher/widget/amino_acid_symbol_popup.h
  src/schrodinger/sketcher/widget/modular_tool_button.cpp
  src/schrodinger/sketcher/widget/modular_tool_button.h
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.cpp
  src/schrodinger/sketcher/widget/monomer_symbol_popup_utils.h
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  src/schrodinger/sketcher/widget/nucleic_acid_symbol_popup.cpp
  src/schrodinger/sketcher/widget/nucleic_acid_symbol_popup.h
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/schrodinger/sketcher/widget/test_monomer_tool_widget.cpp
Due: clang-format

clang-format
  include/schrodinger/sketcher/sketcher_widget.h
Due: clang-format

SKETCH-2889: adding missing #include
  test/schrodinger/sketcher/widget/test_sketcher_top_bar.cpp
Due: clang-format

fixing Unclassified button height
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
Due: none

pr/SKETCH-2859:Ensure 2D overlay Honors 2D structure preferences (#455)
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

SKETCH-2886: Updating "+ Custom" button and dialog titles to match spec (#469)
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.cpp
  src/schrodinger/sketcher/dialog/custom_monomer_dialog.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/tool_button_with_popup.cpp
  src/schrodinger/sketcher/widget/tool_button_with_popup.h
  test/schrodinger/sketcher/dialog/test_custom_monomer_dialog.cpp
  test/schrodinger/sketcher/widget/test_monomer_tool_widget.cpp
Due: clang-format

Revert "Speed up the WASM CI job (#453)" (#465)
  CMakeLists.txt
  src/app/playwright_test_bridge.cpp
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/playwright_bridge_top_level.test.js
Due: clang-format, prettier

SHARED-12622: reject temporary bitsets in dynamic_bitset_on_bits_wrapper (#464)
  src/schrodinger/rdkit_extensions/helm/dynamic_bitset_on_bits_wrapper.h
Due: clang-format

SKETCH-1652: Restore keyboard shortcuts after closing a popup on WASM
  src/app/main.cpp
  test/wasm/e2e/popup_shortcuts.test.js
Due: clang-format, prettier

Path conditions:
  clang-format: any of: \.(cpp|h)$
  prettier: any of: \.js$
