Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - --dry-run
  - --Werror

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - --check

CRDGEN-401 fix bugs in resize code (#250)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

Stabilize nightly memtest runner
  .github/workflows/sketcher-builder.yml
  test/valgrind_Qt_runner_suppressions.Linux-x86_64
Due: none

Stabilize nightly memtest runner
  .github/workflows/sketcher-builder.yml
  CMakeLists.txt
Due: none

SKETCH-2704: Replace ATOM/MONO text tabs with icons
  src/schrodinger/sketcher/icons/mode_compound.svg
  src/schrodinger/sketcher/icons/mode_compound_dis.svg
  src/schrodinger/sketcher/icons/mode_monomer.svg
  src/schrodinger/sketcher/icons/mode_monomer_dis.svg
  src/schrodinger/sketcher/sketcher.qrc
  src/schrodinger/sketcher/ui/sketcher_side_bar.ui
Due: none

SKETCH-2704: Drop disabled icon variants
  src/schrodinger/sketcher/icons/mode_compound_dis.svg
  src/schrodinger/sketcher/icons/mode_monomer_dis.svg
  src/schrodinger/sketcher/sketcher.qrc
  src/schrodinger/sketcher/ui/sketcher_side_bar.ui
Due: none

SKETCH-2704: Fix icon resource paths (add :/ prefix)
  src/schrodinger/sketcher/ui/sketcher_side_bar.ui
Due: none

SKETCH-2704: Set tooltips to "Atomistic" / "Monomeric"
  src/schrodinger/sketcher/ui/sketcher_side_bar.ui
Due: none

SKETCH-2704: Set icon size to 24x24
  src/schrodinger/sketcher/ui/sketcher_side_bar.ui
Due: none

SKETCH-2705: Stabilize nightly memtest runner (#256)
  .github/workflows/sketcher-builder.yml
  CMakeLists.txt
  test/valgrind_Qt_runner_suppressions.Linux-x86_64
Due: none

fix test failures
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

CRDGEN-404 - use coiling layouts when needed (#248)
  include/schrodinger/sketcher/image_generation.h
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
  src/schrodinger/sketcher/rdkit/atom_properties.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

wip
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

SKETCH-2704: Replace ATOM/MONO text tabs with icons (#257)
  src/schrodinger/sketcher/icons/mode_compound.svg
  src/schrodinger/sketcher/icons/mode_monomer.svg
  src/schrodinger/sketcher/sketcher.qrc
  src/schrodinger/sketcher/ui/sketcher_side_bar.ui
Due: none

SKETCH-2483: Now drawing unbound monomeric attachment points on hover
  src/schrodinger/sketcher/molviewer/monomer_constants.h
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.h
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool.cpp
Due: clang-format

fixing typo
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
Due: clang-format

fixing Linux build warning
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
Due: clang-format

SKETCH-2695: Address PR review comments
  src/schrodinger/sketcher/rdkit/atom_properties.cpp
  test/schrodinger/sketcher/rdkit/test_atom_properties.cpp
Due: clang-format

LDID8-1130: [POC] Add methodology for interaction-based testing
  src/app/main.cpp
  test/wasm/__snapshots__/wasm_e2e.test.js/e2e-draw-bond.png
  test/wasm/e2e_helpers.js
  test/wasm/playwright.config.js
  test/wasm/wasm_e2e.test.js
Due: clang-format, prettier

SKETCH-2647: Add crash reporting to the standalone executable
  CMakeLists.txt
  external/CMakeLists.txt
  src/app/crash_handler.cpp
  src/app/crash_handler.h
  src/app/main.cpp
Due: clang-format

clang-format
  src/app/crash_handler.cpp
Due: clang-format

SKETCH-2697 prefer positions with positive coordinates to break ties when picking regions in empty space
  src/schrodinger/sketcher/molviewer/coord_utils.cpp
  test/schrodinger/sketcher/molviewer/test_coord_utils.cpp
Due: clang-format

add patch to revert pr 9082
  external/CMakeLists.txt
  external/rdkit_revert_pr_9082.patch
Due: none

bump RDKit to 2025.09.6
  external/versions.json
Due: none

ignore whitespace in patch
  external/CMakeLists.txt
Due: none

don't build Boost.StackTrace for WASM builds
  external/CMakeLists.txt
Due: none

Adding missing include and adding SQLite CMake files to cache hash key
  .github/actions/build-external/action.yml
  external/sqlite_cmake/CMakeLists.txt
Due: none

pr suggestions
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

don't build Boost.StackTrace for WASM builds, but done correctly this time
  external/CMakeLists.txt
Due: none

CRDGEN-382 snake chains off turns with custom bonds (#258)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

Adding missing CMake include and adding SQLite CMake files to the dependency cache hash key (#263)
  .github/actions/build-external/action.yml
  external/sqlite_cmake/CMakeLists.txt
Due: none

BLDMGR-11350: Update RDKit to 2025.09.6 (#262)
  external/CMakeLists.txt
  external/rdkit_revert_pr_9082.patch
  external/versions.json
Due: none

Fixing new Mac build error by defining _GNU_SOURCE
  CMakeLists.txt
Due: none

SKETCH-2706: Fix wrong wedge bonds for symmetric cyclopropyl groups in 3D molecules
  src/schrodinger/rdkit_extensions/stereochemistry.cpp
  test/schrodinger/sketcher/rdkit/test_stereochemistry.cpp
Due: clang-format

SKETCH-2707: Fix crash when importing monomer sqlite db without pdbcode
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  test/schrodinger/rdkit_extensions/test_conversions.cpp
Due: clang-format

SKETCH-2695: Fix R-group advanced query properties not being displayed (#247)
  src/schrodinger/sketcher/rdkit/atom_properties.cpp
  test/schrodinger/sketcher/rdkit/test_atom_properties.cpp
Due: clang-format

SKETCH-2647: Add crash reporting to the standalone executable (#260)
  CMakeLists.txt
  external/CMakeLists.txt
  src/app/crash_handler.cpp
  src/app/crash_handler.h
  src/app/main.cpp
Due: clang-format

Fix version.json build value
  version.json
Due: none

Changes based on Jarrett's comments
  src/schrodinger/sketcher/molviewer/abstract_graphics_item.h
  src/schrodinger/sketcher/molviewer/constants.h
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cpp|h)$
  prettier: any of: \.js$
