Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - --dry-run
  - --Werror

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - --check

NO_JIRA_ID remove references to CG
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

SKETCH-2643: Convert WASM tests from TypeScript to Python/Playwright
  .github/workflows/sketcher-builder.yml
  .gitignore
  .pre-commit-config.yaml
  .style.yapf
  pytest.ini
  src/app/main.cpp
  test/requirements.txt
  test/wasm/.gitignore
  test/wasm/__snapshots__/test_wasm_api.py/export-image-PNG.png
  test/wasm/__snapshots__/test_wasm_api.py/export-image-SVG.png
  test/wasm/__snapshots__/test_wasm_api.py/format-CDXML.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-EXTENDED-SMARTS.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-EXTENDED-SMILES.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-FASTA-DNA.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-FASTA-PEPTIDE.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-FASTA-RNA.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-FASTA.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-HELM.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-INCHI-KEY.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-INCHI.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-MAESTRO.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-MDL-MOLV2000.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-MDL-MOLV3000.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-MOL2.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-MRV.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-PDB.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-RDMOL-BINARY-BASE64.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-SMARTS.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-SMILES.txt
  test/wasm/__snapshots__/test_wasm_api.py/format-XYZ.txt
  test/wasm/conftest.py
  test/wasm/package.json
  test/wasm/playwright.config.js
  test/wasm/test_wasm_api.py
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

NO_JIRA_ID remove references to CG (#211)
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

Add horizontal flip to orient_polymer to resolve inter-polymer bond crossings (#203)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

wip
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

pr suggestions + ring expansion code
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

removing debugging output
  src/schrodinger/sketcher/model/mol_model.cpp
Due: clang-format

SKETCH-2662: Add boolean parameter to sketcher_allow_monomeric
  src/app/main.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

Upgrade emscripten to 4.0.23
  CMakeLists.txt
  external/versions.json
Due: none

address memory leak
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

Apply RDKit literal operator patch during build
  CMakeLists.txt
  external/CMakeLists.txt
  external/rdkit-fix-deprecated-literal-operators.patch
Due: none

Update RDKit patch with macro redefinition fixes
  external/rdkit-fix-deprecated-literal-operators.patch
Due: none

Fix Qt file import for emscripten 4.0.23 and add SDF import test
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SHARED-12021: Remove workaround for ABS groups in convert.cpp
  src/schrodinger/rdkit_extensions/convert.cpp
  test/schrodinger/rdkit_extensions/test_convert.cpp
Due: clang-format

Add debug logging to file import dialog
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
Due: clang-format

Fix clang-format violations in debug logging
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
Due: clang-format

Add debug logging to track import flow
  src/schrodinger/sketcher/sketcher_widget.cpp
Due: clang-format

Add debug logging to MDL parsing
  src/schrodinger/rdkit_extensions/convert.cpp
Due: clang-format

Add debug logging for file content reading
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
Due: clang-format

Improve performance of 2D Overlay MAE-50866
  src/schrodinger/sketcher/widget/sketcher_view.cpp
Due: clang-format

CRDGEN-392 for polymers with no connections to other polymers, use the last laid-out chain as reference
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

remove unecessary comment
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

copilot suggestions
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

debug
  external/CMakeLists.txt
  external/rdkit-fix-deprecated-literal-operators.patch
  external/versions.json
  src/schrodinger/sketcher/widget/sketcher_top_bar.cpp
Due: clang-format

CRDGEN-390 Add automated HELM gallery generation for PR visualization
  .github/workflows/sketcher-builder.yml
  .github/workflows/test-monomer-coordgen.yml
  CMakeLists.txt
  version.json
Due: none

add missing files
  MONOMER_COORDGEN_GALLERY_SETUP.md
  scripts/generate_helm_gallery.py
  src/helm_to_svg.cpp
  test_data/original_test_data.csv
Due: clang-format

edit automated messages
  .github/workflows/test-monomer-coordgen.yml
  MONOMER_COORDGEN_GALLERY_SETUP.md
Due: none

avoid changing version.json
  version.json
Due: none

SHARED-12021: Remove workaround for ABS groups in convert.cpp (#215)
  src/schrodinger/rdkit_extensions/convert.cpp
  test/schrodinger/rdkit_extensions/test_convert.cpp
Due: clang-format

SKETCH-2483: Adding functions to determine "pretty" names of bound and unbound monomeric attachment points
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/molviewer/monomer_connector_item.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.h
  src/schrodinger/sketcher/rdkit/monomer_connectors.cpp
  src/schrodinger/sketcher/rdkit/monomer_connectors.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/select_erase_scene_tool.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_monomer_connectors.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
Due: clang-format

pr suggestions
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

clang-format
  src/schrodinger/sketcher/rdkit/monomeric.h
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
Due: clang-format

CRDGEN-392 for polymers with no connections to other polymers, use th… (#216)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

pr suggestions
  include/schrodinger/rdkit_extensions/coord_utils.h
  src/schrodinger/rdkit_extensions/coord_utils.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/sketcher/molviewer/coord_utils.cpp
  src/schrodinger/sketcher/molviewer/coord_utils.h
Due: clang-format

fix for gcc and clang warnings
  src/schrodinger/sketcher/rdkit/monomeric.cpp
Due: clang-format

ensuring consistent vector ordering to fix test failures
  src/schrodinger/sketcher/rdkit/monomeric.cpp
Due: clang-format

pr suggestions
  scripts/generate_helm_gallery.py
Due: none

Add file filter to gallery workflow
  .github/workflows/test-monomer-coordgen.yml
Due: none

PR suggestions
  MONOMER_COORDGEN_GALLERY_SETUP.md
  README.md
Due: none

Path conditions:
  clang-format: any of: \.(cpp|h)$
  prettier: any of: \.js$
