Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: [--dry-run, --Werror]
      - id: prettier
        name: prettier
        entry: npx prettier
        language: system
        files: \.js$
        args: [--check]

SKETCH-2652: Wire up coloring by natural analog defined in the monomerDb
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.h
  src/schrodinger/sketcher/molviewer/amino_acid_item.cpp
  src/schrodinger/sketcher/molviewer/nucleic_acid_base_item.cpp
  test/schrodinger/sketcher/molviewer/test_monomer_coloring.cpp
Due: clang-format

backport PRs
  external/CMakeLists.txt
  external/rdkit_pr_9006_9016.patch
Due: none

Increment to build 2026.1.95
  version.json
Due: none

Increment to build 2026.2.7
  version.json
Due: none

BLDMGR-10744: Reintroduce dry-run (#192)
  .github/workflows/nightly-build.yml
  .github/workflows/sketcher-builder.yml
Due: none

BLDMGR-10958: Patch RDKit 2025.09.3 for 2026-1 (#199)
  external/CMakeLists.txt
  external/rdkit_pr_9006_9016.patch
Due: none

pr suggestions
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

Refactor CI matrix to use build-name instead of os and build-output.
  .github/actions/build-external/action.yml
  .github/workflows/sketcher-builder.yml
  test/valgrind_Qt_pf_suppressions.Linux-x86_64
Due: none

Update getNaturalAnalog to return opt_string_t
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
  test/schrodinger/sketcher/molviewer/test_monomer_coloring.cpp
Due: clang-format

Update build version to match Schrodinger Suite build number
  version.json
Due: none

Revert "SKETCH-2630: Bump to Qt v6.8.3 (#171)"
  CMakeLists.txt
  external/versions.json
  src/schrodinger/sketcher/dialog/file_save_image_dialog.cpp
  src/schrodinger/sketcher/dialog/modal_dialog.cpp
  src/schrodinger/sketcher/dialog/sketcher_welcome_dialog.cpp
  test/wasm/__snapshots__/wasm_api.test.js/sketcher-load.png
  test/wasm/wasm_api.test.js
  wasm/public/wasm_shell.html
Due: clang-format, prettier

SKETCH-2652: Wire up coloring by natural analog defined in the monomerDb (#198)
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.h
  src/schrodinger/sketcher/molviewer/amino_acid_item.cpp
  src/schrodinger/sketcher/molviewer/nucleic_acid_base_item.cpp
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
  test/schrodinger/sketcher/molviewer/test_monomer_coloring.cpp
Due: clang-format

SKETCH-2496: Clean up nightly-build.yml; bump-version action is used externally by core-suite-ci
  .github/actions/bump-version/action.yml
  .github/workflows/nightly-build.yml
Due: none

SHARED-11959: Remove multiple ABS stereogroup work around in convert
  src/schrodinger/rdkit_extensions/convert.cpp
Due: clang-format

SHARED-11959: Remove multiple ABS stereogroup work around in convert (#202)
  src/schrodinger/rdkit_extensions/convert.cpp
Due: clang-format

review
  .github/workflows/nightly-build.yml
Due: none

SKETCH-2496: Clean up nightly-build.yml (#201)
  .github/actions/bump-version/action.yml
  .github/workflows/nightly-build.yml
Due: none

fix compile error
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

fix test that was failing with two unconnected chains.
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
Due: clang-format

CRDGEN-389
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

CRDGEN-388 Refactor monomer resizing to batched, cluster-aware
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
  src/schrodinger/sketcher/model/mol_model.cpp
Due: clang-format

update tests with new molecules from the case
  test/schrodinger/rdkit_extensions/test_monomer_coordgen.cpp
Due: clang-format

Pin runners on specific OS versions
  .github/actions/build-external/action.yml
  .github/workflows/sketcher-builder.yml
  test/valgrind_Qt_pf_suppressions.Linux-x86_64
Due: none

Pin runners on specific OS versions (#200)
  .github/actions/build-external/action.yml
  .github/workflows/sketcher-builder.yml
  test/valgrind_Qt_pf_suppressions.Linux-x86_64
Due: none

Fix lag when selection dragging in the 2D Overlay. SKETCH-2604
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.h
  src/schrodinger/sketcher/widget/sketcher_view.cpp
  src/schrodinger/sketcher/widget/sketcher_view.h
Due: clang-format

Optimize AbstractHighlightingItem::buildHighlightingPathForItems(). SKETCH-2604
  src/schrodinger/sketcher/molviewer/abstract_highlighting_item.cpp
Due: clang-format

Fix lag when selection dragging in the 2D Overlay. SKETCH-2604 (#206)
  src/schrodinger/sketcher/molviewer/abstract_highlighting_item.cpp
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.h
  src/schrodinger/sketcher/widget/sketcher_view.cpp
  src/schrodinger/sketcher/widget/sketcher_view.h
Due: clang-format

now deleting graphics items in the test to fix memtest failure, also parametrizing the test
  test/schrodinger/sketcher/molviewer/test_scene_utils.cpp
Due: clang-format

clang-format
  test/schrodinger/sketcher/molviewer/test_scene_utils.cpp
Due: clang-format

Use LocalMonomerDbFixture for test_monomer_coloring
  test/schrodinger/sketcher/molviewer/test_monomer_coloring.cpp
Due: clang-format

Re-enable test
  test/schrodinger/sketcher/model/test_abstract_undoable_model.cpp
Due: clang-format

SKETCH-2383: Remove Qt default title and description from SVG output.
  src/schrodinger/sketcher/image_generation.cpp
  test/schrodinger/sketcher/test_image_generation.cpp
Due: clang-format

SKETCH-2504: Add diagnostic exception handling to test_exception
  test/schrodinger/sketcher/model/test_abstract_undoable_model.cpp
Due: clang-format

SKETCH-2504: Disable non-macOS CI builds for testing
  .github/workflows/sketcher-builder.yml
Due: none

SKETCH-2383: Remove Qt default title and description from SVG output. (#207)
  src/schrodinger/sketcher/image_generation.cpp
  test/schrodinger/sketcher/test_image_generation.cpp
Due: clang-format

SKETCH-2504: Fix exception propagation through static Qt on macOS
  .github/workflows/sketcher-builder.yml
  CMakeLists.txt
  external/CMakeLists.txt
  test/schrodinger/sketcher/model/test_abstract_undoable_model.cpp
Due: clang-format

Force Qt cache rebuild to apply exception flags
  external/CMakeLists.txt
Due: none
