Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format
        language: system
        files: \.(cpp|h)$
        args: [--dry-run, --Werror]
      - id: prettier
        name: prettier
        entry: npx prettier
        language: system
        files: \.js$
        args: [--check]

Fix for Mac build errors with XCode 14
  src/schrodinger/sketcher/rdkit/monomeric.cpp
Due: clang-format

Add support for arrow keys
  new_sketcher/sketcher.py
Due: none

SKETCH-2707: validate helm monomers
  include/schrodinger/rdkit_extensions/monomer_mol.h
  src/schrodinger/rdkit_extensions/helm/to_rdkit.cpp
  src/schrodinger/rdkit_extensions/helm/to_rdkit.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
Due: clang-format

SKETCH-2707: Provide ability to validate monomer against DB while parsing (#266)
  include/schrodinger/rdkit_extensions/monomer_mol.h
  src/schrodinger/rdkit_extensions/helm/to_rdkit.cpp
  src/schrodinger/rdkit_extensions/helm/to_rdkit.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
Due: clang-format

import custom monomer
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  test/schrodinger/rdkit_extensions/test_conversions.cpp
Due: clang-format

Unknown monomer throw
  src/app/main.cpp
  test/schrodinger/rdkit_extensions/test_conversions.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

wasm_monomer_custom_db
  src/app/main.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

Custom monomers in brackets
  test/schrodinger/rdkit_extensions/test_conversions.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2707: Expose javascript functions to load custom monomer DB for WASM sketcher (#278)
  src/app/main.cpp
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  test/schrodinger/rdkit_extensions/test_conversions.cpp
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2482: Use monomer buttons for analog UI
  src/app/main.cpp
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/sketcher_css_style.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/amino_acid_symbol_popup.cpp
  src/schrodinger/sketcher/widget/amino_acid_symbol_popup.h
  src/schrodinger/sketcher/widget/modular_tool_button.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/wasm/e2e/analog.test.js
  test/wasm/e2e/e2e_helpers.js
Due: clang-format, prettier

SKETCH-2482: Add non-natural analogs to the monomer palette (#279)
  src/app/main.cpp
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/sketcher_css_style.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/ui/monomer_tool_widget.ui
  src/schrodinger/sketcher/widget/amino_acid_symbol_popup.cpp
  src/schrodinger/sketcher/widget/amino_acid_symbol_popup.h
  src/schrodinger/sketcher/widget/modular_tool_button.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/wasm/e2e/analog.test.js
  test/wasm/e2e/e2e_helpers.js
Due: clang-format, prettier

Fix for Mac build errors with older versions of XCode (#291)
  src/schrodinger/sketcher/rdkit/monomeric.cpp
Due: clang-format

SHARED-12114: complex monomers; cyclic dipeptides (#7762)
  src/schrodinger/rdkit_extensions/helm/to_string.cpp
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

SKETCH-2631: Provide ability to mutate monomers from toolbar (#254)
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/monomer_mutation.test.js
Due: clang-format, prettier

SHARED-12114: complex monomers; cyclic dipeptides + SKETCH-2631: Provide ability to mutate monomers from toolbar (#292)
  src/schrodinger/rdkit_extensions/helm/to_string.cpp
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/model/sketcher_model.h
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
  src/schrodinger/sketcher/sketcher_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.cpp
  src/schrodinger/sketcher/widget/monomer_tool_widget.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/monomer_mutation.test.js
Due: clang-format, prettier

Update to_string.cpp
  src/schrodinger/rdkit_extensions/helm/to_string.cpp
Due: clang-format

SHARED-12114: complex monomers; cyclic dipeptides
  src/schrodinger/rdkit_extensions/helm/to_string.cpp
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

Merge 2026-2 into main (#294)
  src/schrodinger/rdkit_extensions/helm/to_string.cpp
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

SHARED-12177: toMonomeric: improve monomer recognition (#7891)
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/rdkit_extensions/monomer_utils.cpp
  src/schrodinger/rdkit_extensions/monomer_utils.h
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

SHARED-12177 patch: toMonomeric: improve monomer recognition (#299)
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  src/schrodinger/rdkit_extensions/monomer_utils.cpp
  src/schrodinger/rdkit_extensions/monomer_utils.h
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

SKETCH-2483: Implementing monomer click-and-drag
  src/schrodinger/sketcher/molviewer/monomer_constants.h
  src/schrodinger/sketcher/molviewer/monomer_hint_fragment_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_hint_fragment_item.h
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
Due: clang-format

SKETCH-2726: Replacing unneeded import in monomer_database.h with forward declaration to prevent Sketcher linker errors
  src/schrodinger/rdkit_extensions/monomer_database.h
Due: clang-format

fixing Mac and WASM build issue
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
Due: clang-format

SKETCH-2726: Replacing unneeded import in monomer_database.h with forward declaration to prevent Sketcher linker errors (#300)
  src/schrodinger/rdkit_extensions/monomer_database.h
Due: clang-format

SKETCH-2728: Adding fallback font names to generated SVG files
  src/schrodinger/sketcher/image_generation.cpp
  src/schrodinger/sketcher/molviewer/constants.h
  test/schrodinger/sketcher/test_image_generation.cpp
Due: clang-format

rephrasing docstring
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
Due: clang-format

SKETCH-2483: Implementing monomer click-and-drag (#301)
  src/schrodinger/sketcher/molviewer/monomer_constants.h
  src/schrodinger/sketcher/molviewer/monomer_hint_fragment_item.cpp
  src/schrodinger/sketcher/molviewer/monomer_hint_fragment_item.h
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
Due: clang-format

SKETCH-2728: Adding fallback font names to generated SVG files (#302)
  src/schrodinger/sketcher/image_generation.cpp
  src/schrodinger/sketcher/molviewer/constants.h
  test/schrodinger/sketcher/test_image_generation.cpp
Due: clang-format

SKETCH-2483: Fixing HELM string output for drawn structures and adding integration tests
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/test_common.h
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
Due: clang-format

clang-format
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
Due: clang-format

fix for Mac and Linux build warning
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2727: Fix crash when erasing multiple RXN_PLUS objects at once
  src/schrodinger/sketcher/model/mol_model.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

Fixing Mac and memtest failures
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2727: Fix sketcher freeze when erasing multiple plus signs at once (#304)
  src/schrodinger/sketcher/model/mol_model.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2483: Fixing HELM string output for drawn structures and adding integration tests (#303)
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.cpp
  src/schrodinger/sketcher/molviewer/unbound_monomeric_attachment_point_item.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_monomeric.cpp
  test/schrodinger/sketcher/test_common.h
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
Due: clang-format

SKETCH-2483: Fixing minor issues with monomer click-and-drag
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
Due: clang-format

adding parenthesis to fix warning on Mac
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
Due: clang-format

SKETCH-2483: Fixing crash when creating non-base-pair connections with the pair attachment point
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  test/schrodinger/sketcher/tool/test_draw_monomer_scene_tool_integration_tests.cpp
Due: clang-format
