Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - --dry-run
  - --Werror

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - --check

SKETCH-2763: Generate complement strand for nucleic acids
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.cpp
  src/schrodinger/rdkit_extensions/helm/monomer_coordgen.h
  src/schrodinger/sketcher/menu/monomer_context_menu.cpp
  src/schrodinger/sketcher/menu/monomer_context_menu.h
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  src/schrodinger/sketcher/rdkit/monomeric.cpp
  src/schrodinger/sketcher/rdkit/monomeric.h
  src/schrodinger/sketcher/sketcher_widget.cpp
  test/schrodinger/sketcher/menu/test_monomer_context_menu.cpp
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2775: Warn instead of fail if Arimo font is present but can't be loaded (#370)
  src/schrodinger/sketcher/font_loader.cpp
  src/schrodinger/sketcher/image_generation.cpp
  src/schrodinger/sketcher/molviewer/constants.h
  src/schrodinger/sketcher/molviewer/fonts.cpp
  src/schrodinger/sketcher/tool/draw_chain_scene_tool.cpp
Due: clang-format

SKETCH-2782: get_residue_number_for_new_monomer now uses one residue number per monomer, even for nucleic acids
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

clang-format
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2772: Anchor wheel zoom at the cursor (#357)
  src/schrodinger/sketcher/molviewer/view.cpp
  src/schrodinger/sketcher/molviewer/view.h
  test/schrodinger/sketcher/molviewer/test_view.cpp
Due: clang-format

NO_JIRA_ID: Alphabetize includes in test_sketcher_widget.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

SHARED-12043: rdkit_extensions.addResidueInfo() (#9310)
  src/schrodinger/rdkit_extensions/atomistic_conversions.h
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

SHARED-12423: Hash using the canonicalized SMILES for custom SMILES monomers
  include/schrodinger/rdkit_extensions/helm.h
  src/schrodinger/rdkit_extensions/monomer_mol.cpp
Due: clang-format

SHARED-12043: Assign space chain IDs to single-monomer chains (#9534)
  src/schrodinger/rdkit_extensions/atomistic_conversions.h
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

SHARED-12043: add pdbname feature flag and compatibility fixes (#9604)
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

SHARED-12467: Fix H count in atomistic conversions (#9670)
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

Revert "SKETCH-2772: Anchor wheel zoom at the cursor (#357)"
  src/schrodinger/sketcher/molviewer/view.cpp
  src/schrodinger/sketcher/molviewer/view.h
  test/schrodinger/sketcher/molviewer/test_view.cpp
Due: clang-format

Bump version for 2026.3.76
  version.json
Due: none

SKETCH-2772: Fix qWaitForWindowExposed include for Qt 6.5 compat
  src/schrodinger/sketcher/molviewer/view.cpp
  src/schrodinger/sketcher/molviewer/view.h
  test/schrodinger/sketcher/molviewer/test_view.cpp
Due: clang-format

SKETCH-2772: Fix zoom anchor correction on Windows
  src/schrodinger/sketcher/molviewer/view.cpp
Due: clang-format

SKETCH-2772: Analytical anchor correction, widen test tolerance
  src/schrodinger/sketcher/molviewer/view.cpp
  test/schrodinger/sketcher/molviewer/test_view.cpp
Due: clang-format

NOJIRAID: Bump macOS to version 26
  .github/workflows/sketcher-builder.yml
Due: none

Patch Qt qyieldcpu.h to include <arm_acle.h> for clang 21
  external/CMakeLists.txt
  external/qt_yield_acle_patch.cmake
Due: none

SKETCH-2772: Address PR review feedback
  src/schrodinger/sketcher/molviewer/view.cpp
  src/schrodinger/sketcher/molviewer/view.h
  test/schrodinger/sketcher/molviewer/test_view.cpp
Due: clang-format

BLDMGR-11856: update RDKit patches
  external/CMakeLists.txt
  external/rdkit_modified_pr_9204.patch
  external/rdkit_revert_9230.patch
Due: none

BLDMGR-11856: update RDKit patches (#374)
  external/CMakeLists.txt
  external/rdkit_modified_pr_9204.patch
  external/rdkit_revert_9230.patch
Due: none

Revert "SKETCH-2735: Make ATOMISTIC_OR_MONOMERIC the default (#312)"
  .github/workflows/sketcher-builder.yml
  .github/workflows/update-wasm-snapshots.yml
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/main.cpp
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/wasm/e2e/__snapshots__/drawing.test.js/e2e-draw-bond.png
  test/wasm/e2e/analog.test.js
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/monomer_mutation.test.js
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

restore-update-wasm-snapshots.yml
  .github/workflows/sketcher-builder.yml
  .github/workflows/update-wasm-snapshots.yml
Due: none

BLDMGR-11969: Update .reviewboardrc file for 2026-3 branch
  .reviewboardrc
Due: none

Migrate squish 2D sketcher tests to Playwright e2e
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.cxsmi
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.cxsmiles
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.ent
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.inchi
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.mdl
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.mol
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.pdb
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.sd
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.sdf
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.smi
  test/wasm/e2e/fixtures/import_menu_structures/methylphenidate.smiles
  test/wasm/e2e/fixtures/miscellaneous_structures/one.mae
  test/wasm/e2e/fixtures/miscellaneous_structures/two.mae
  test/wasm/e2e/fixtures/problematic_structures/100_ideas.sdf
  test/wasm/e2e/fixtures/problematic_structures/3-pyridyl.sdf
  test/wasm/e2e/fixtures/problematic_structures/Input_No_H.sdf
  test/wasm/e2e/fixtures/problematic_structures/T1.mae
  test/wasm/e2e/fixtures/problematic_structures/T2.mae
  test/wasm/e2e/fixtures/problematic_structures/alq_chemistbonds.mae
  test/wasm/e2e/fixtures/problematic_structures/compounds_with_data_1_4.sdf
  test/wasm/e2e/fixtures/problematic_structures/irppy.mae
  test/wasm/e2e/fixtures/problematic_structures/ligprep_desalt_Epik_pH8.4-8.6_taut_stereo_32_ring_conf_1_MMFFS-out.sdf
  test/wasm/e2e/fixtures/problematic_structures/metalcomplex.mae
  test/wasm/e2e/fixtures/problematic_structures/metalcomplex_singlebonds.mae
  test/wasm/e2e/fixtures/problematic_structures/tm_complexes.mae
  test/wasm/e2e/import_formats.test.js
  test/wasm/e2e/keyboard_shortcuts.test.js
  test/wasm/e2e/miscellaneous.test.js
  test/wasm/e2e/problematic_structures.test.js
Due: prettier

SKETCH-2754: Fix test_scene linker error from const signature change
  test/schrodinger/sketcher/molviewer/test_scene.cpp
Due: clang-format

SKETCH-2649: is_polymer_annotation_s_group no longer requires ANNOTATION and ID properties
  src/schrodinger/rdkit_extensions/helm/helm_utils.cpp
  test/schrodinger/rdkit_extensions/test_helm_utils.cpp
Due: clang-format

SKETCH-2795: Disable monomer sketcher in 26-3 (#375)
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/main.cpp
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/wasm/e2e/__snapshots__/drawing.test.js/e2e-draw-bond.png
  test/wasm/e2e/analog.test.js
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/monomer_mutation.test.js
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2754: Fix test_scene linker error from const signature change (#377)
  test/schrodinger/sketcher/molviewer/test_scene.cpp
Due: clang-format

apply changes
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
Due: clang-format

review
  src/schrodinger/rdkit_extensions/monomer_database.cpp
  src/schrodinger/rdkit_extensions/monomer_database.h
  test/schrodinger/rdkit_extensions/test_monomer_database.cpp
Due: clang-format

update emscripten funcs
  src/app/main.cpp
Due: clang-format

Revert "SKETCH-2795: Disable monomer sketcher in 26-3 (#375)"
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/main.cpp
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/wasm/e2e/__snapshots__/drawing.test.js/e2e-draw-bond.png
  test/wasm/e2e/analog.test.js
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/monomer_mutation.test.js
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

work around weird fmtlib/emscripten bug
  src/schrodinger/rdkit_extensions/monomer_database.cpp
Due: clang-format

fixing residue numbering and rewriting the tests so the numbering mistake would have been obvious
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/model/mol_model.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SKETCH-2797: Fixing highlighting path generation
  src/schrodinger/sketcher/molviewer/abstract_highlighting_item.cpp
Due: clang-format

Revert "Revert "SKETCH-2795: Disable monomer sketcher in 26-3 (#375)""
  include/schrodinger/sketcher/sketcher_widget.h
  src/app/main.cpp
  src/schrodinger/sketcher/model/sketcher_model.cpp
  src/schrodinger/sketcher/widget/sketcher_side_bar.cpp
  test/schrodinger/sketcher/model/test_sketcher_model.cpp
  test/wasm/e2e/__snapshots__/drawing.test.js/e2e-draw-bond.png
  test/wasm/e2e/analog.test.js
  test/wasm/e2e/e2e_helpers.js
  test/wasm/e2e/monomer_mutation.test.js
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

adding comments explaining test numbering
  test/schrodinger/sketcher/model/test_mol_model.cpp
Due: clang-format

SHARED-12043: Handle H or 2d in pdbname; add helmSymbol prop. (#9881)
  src/schrodinger/rdkit_extensions/atomistic_conversions.h
  src/schrodinger/rdkit_extensions/to_monomeric.cpp
Due: clang-format

Path conditions:
  clang-format: any of: \.(cpp|h)$
  prettier: any of: \.js$
