Repository schrodinger/sketcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, prettier

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - --dry-run
  - --Werror

prettier:
  name: prettier
  entry: npx prettier
  language: system
  args:
  - --check

checkStateChanged
  src/schrodinger/sketcher/dialog/file_save_image_dialog.cpp
  src/schrodinger/sketcher/dialog/modal_dialog.cpp
  src/schrodinger/sketcher/dialog/sketcher_welcome_dialog.cpp
Due: clang-format

SKETCH-2630: Bump to Qt v6.8.3
  external/versions.json
Due: none

fix-test-prettier
  CMakeLists.txt
  test/wasm/__snapshots__/wasm_api.test.js/sketcher-load.png
  test/wasm/wasm_api.test.js
  wasm/public/wasm_shell.html
Due: prettier

testfiles
  src/app/main.cpp
  test/testfiles/autodetect/text-CDXML.txt
  test/testfiles/autodetect/text-EXTENDED-SMARTS.txt
  test/testfiles/autodetect/text-EXTENDED-SMILES.txt
  test/testfiles/autodetect/text-FASTA-DNA.txt
  test/testfiles/autodetect/text-FASTA-PEPTIDE.txt
  test/testfiles/autodetect/text-FASTA-RNA.txt
  test/testfiles/autodetect/text-FASTA.txt
  test/testfiles/autodetect/text-HELM.txt
  test/testfiles/autodetect/text-INCHI-KEY.txt
  test/testfiles/autodetect/text-INCHI.txt
  test/testfiles/autodetect/text-MAESTRO.txt
  test/testfiles/autodetect/text-MDL-MOLV2000.txt
  test/testfiles/autodetect/text-MDL-MOLV3000.txt
  test/testfiles/autodetect/text-MOL2.txt
  test/testfiles/autodetect/text-MRV.txt
  test/testfiles/autodetect/text-PDB.txt
  test/testfiles/autodetect/text-RDMOL-BINARY-BASE64.txt
  test/testfiles/autodetect/text-SMARTS.txt
  test/testfiles/autodetect/text-SMILES.txt
  test/testfiles/autodetect/text-XYZ.txt
  test/wasm/wasm_api.test.js
Due: clang-format, prettier

SKETCH-2617: Cursor hints for the monomer scene tool (#174)
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.cpp
  src/schrodinger/sketcher/molviewer/abstract_monomer_item.h
  src/schrodinger/sketcher/molviewer/amino_acid_item.cpp
  src/schrodinger/sketcher/molviewer/chem_monomer_item.cpp
  src/schrodinger/sketcher/molviewer/fonts.cpp
  src/schrodinger/sketcher/molviewer/fonts.h
  src/schrodinger/sketcher/molviewer/monomer_constants.h
  src/schrodinger/sketcher/molviewer/nucleic_acid_base_item.cpp
  src/schrodinger/sketcher/molviewer/nucleic_acid_phosphate_item.cpp
  src/schrodinger/sketcher/molviewer/nucleic_acid_sugar_item.cpp
  src/schrodinger/sketcher/molviewer/scene.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.h
  src/schrodinger/sketcher/tool/draw_fragment_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.cpp
  src/schrodinger/sketcher/tool/draw_monomer_scene_tool.h
Due: clang-format

SKETCH-2635: Fixing side bar spacing in WASM builds (#181)
  src/schrodinger/sketcher/ui/sketcher_side_bar.ui
Due: none

SHARED-11862: Ensure RNA with pair-pair linkages don't throw in toAtomistic
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
  test/schrodinger/rdkit_extensions/test_coarse_grain.cpp
Due: clang-format

add dry run input
  .github/workflows/nightly-build.yml
Due: none

implement dry run
  .github/workflows/nightly-build.yml
Due: none

SHARED-11862: Ensure RNA with pair-pair linkages don't throw in toAtomistic (#182)
  src/schrodinger/rdkit_extensions/to_atomistic.cpp
  test/schrodinger/rdkit_extensions/test_coarse_grain.cpp
Due: clang-format

SHARED-11927: Extend parser to support polymer groups
  src/schrodinger/rdkit_extensions/helm/helm_parser_v2.cpp
  test/schrodinger/rdkit_extensions/test_helm_to_rdkit.cpp
Due: clang-format

SHARED-11932: Extend parser to support custom connections
  src/schrodinger/rdkit_extensions/helm/helm_parser_v2.cpp
  test/schrodinger/rdkit_extensions/test_rdkit_to_helm.cpp
Due: clang-format

SHARED-11977: Enable new HELM parser by default
  src/schrodinger/rdkit_extensions/helm/helm_parser_v2.cpp
  src/schrodinger/rdkit_extensions/helm/to_rdkit.cpp
  test/schrodinger/rdkit_extensions/test_rdkit_to_helm.cpp
Due: clang-format

SHARED-11978: Remove legacy HELM parser code
  src/schrodinger/rdkit_extensions/helm/generated/helm_parser.tab.cpp
  src/schrodinger/rdkit_extensions/helm/generated/helm_parser.tab.hh
  src/schrodinger/rdkit_extensions/helm/generated/lex.yy.cpp
  src/schrodinger/rdkit_extensions/helm/generated/location.hh
  src/schrodinger/rdkit_extensions/helm/generated/position.hh
  src/schrodinger/rdkit_extensions/helm/generated/stack.hh
  src/schrodinger/rdkit_extensions/helm/helm_lexer.l
  src/schrodinger/rdkit_extensions/helm/helm_parser.cpp
  src/schrodinger/rdkit_extensions/helm/helm_parser.h
  src/schrodinger/rdkit_extensions/helm/helm_parser.yy
  src/schrodinger/rdkit_extensions/helm/helm_parser_v2.cpp
  src/schrodinger/rdkit_extensions/helm/thirdparty/FlexLexer.h
  src/schrodinger/rdkit_extensions/helm/to_rdkit.cpp
  src/schrodinger/rdkit_extensions/helm/to_rdkit.h
  src/schrodinger/rdkit_extensions/helm/token_scanner.h
  test/schrodinger/rdkit_extensions/test_helm_parsing.cpp
  test/schrodinger/rdkit_extensions/test_helm_to_rdkit.cpp
  test/schrodinger/rdkit_extensions/test_rdkit_to_helm.cpp
Due: clang-format

SHARED-11928: Extend parser to support monomer sequence repetitions (#177)
  src/schrodinger/rdkit_extensions/helm/helm_parser_v2.cpp
  src/schrodinger/rdkit_extensions/helm/to_string.cpp
  test/schrodinger/rdkit_extensions/test_helm_to_rdkit.cpp
Due: clang-format

BLDMGR-10744 Add dry run flag to nightly build (#183)
  .github/workflows/nightly-build.yml
Due: none

SHARED-11927: Extend parser to support polymer groups (#184)
  src/schrodinger/rdkit_extensions/helm/helm_parser_v2.cpp
  test/schrodinger/rdkit_extensions/test_helm_to_rdkit.cpp
Due: clang-format

fix merge issue
  src/schrodinger/rdkit_extensions/helm/helm_parser_v2.cpp
Due: clang-format

SHARED-11932: Extend parser to support custom connections (#185)
  src/schrodinger/rdkit_extensions/helm/helm_parser_v2.cpp
  test/schrodinger/rdkit_extensions/test_rdkit_to_helm.cpp
Due: clang-format

SHARED-11977: Enable new HELM parser by default (#186)
  src/schrodinger/rdkit_extensions/helm/helm_parser_v2.cpp
  src/schrodinger/rdkit_extensions/helm/to_rdkit.cpp
  test/schrodinger/rdkit_extensions/test_rdkit_to_helm.cpp
Due: clang-format

Bump release version to match Schrodinger Suite 2025-4 build126
  CMakeLists.txt
Due: none

fix build failure
  test/schrodinger/rdkit_extensions/test_helm_to_rdkit.cpp
  test/schrodinger/rdkit_extensions/test_rdkit_to_helm.cpp
Due: clang-format

SHARED-11978: Remove legacy HELM parser code (#187)
  src/schrodinger/rdkit_extensions/helm/generated/helm_parser.tab.cpp
  src/schrodinger/rdkit_extensions/helm/generated/helm_parser.tab.hh
  src/schrodinger/rdkit_extensions/helm/generated/lex.yy.cpp
  src/schrodinger/rdkit_extensions/helm/generated/location.hh
  src/schrodinger/rdkit_extensions/helm/generated/position.hh
  src/schrodinger/rdkit_extensions/helm/generated/stack.hh
  src/schrodinger/rdkit_extensions/helm/helm_lexer.l
  src/schrodinger/rdkit_extensions/helm/helm_parser.cpp
  src/schrodinger/rdkit_extensions/helm/helm_parser.h
  src/schrodinger/rdkit_extensions/helm/helm_parser.yy
  src/schrodinger/rdkit_extensions/helm/helm_parser_v2.cpp
  src/schrodinger/rdkit_extensions/helm/thirdparty/FlexLexer.h
  src/schrodinger/rdkit_extensions/helm/to_rdkit.cpp
  src/schrodinger/rdkit_extensions/helm/to_rdkit.h
  src/schrodinger/rdkit_extensions/helm/token_scanner.h
  test/schrodinger/rdkit_extensions/test_helm_parsing.cpp
  test/schrodinger/rdkit_extensions/test_helm_to_rdkit.cpp
  test/schrodinger/rdkit_extensions/test_rdkit_to_helm.cpp
Due: clang-format

move
  include/schrodinger/rdkit_extensions/coord_utils.h
  include/schrodinger/rdkit_extensions/stereochemistry.h
  src/schrodinger/rdkit_extensions/coord_utils.cpp
  src/schrodinger/rdkit_extensions/stereochemistry.cpp
  src/schrodinger/sketcher/dialog/bracket_subgroup_dialog.cpp
  src/schrodinger/sketcher/menu/atom_context_menu.cpp
  src/schrodinger/sketcher/menu/selection_context_menu.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/molviewer/atom_item.cpp
  src/schrodinger/sketcher/molviewer/bond_item.cpp
  src/schrodinger/sketcher/molviewer/constants.h
  src/schrodinger/sketcher/molviewer/coord_utils.cpp
  src/schrodinger/sketcher/molviewer/coord_utils.h
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  src/schrodinger/sketcher/molviewer/sgroup_item.cpp
  src/schrodinger/sketcher/rdkit/atom_properties.cpp
  src/schrodinger/sketcher/rdkit/coord_utils.cpp
  src/schrodinger/sketcher/rdkit/coord_utils.h
  src/schrodinger/sketcher/rdkit/mol_update.cpp
  src/schrodinger/sketcher/rdkit/sgroup.cpp
  src/schrodinger/sketcher/rdkit/sgroup.h
  src/schrodinger/sketcher/rdkit/stereochemistry.cpp
  src/schrodinger/sketcher/rdkit/stereochemistry.h
  src/schrodinger/sketcher/rdkit/variable_attachment_bond.cpp
  src/schrodinger/sketcher/rdkit/variable_attachment_bond_core.cpp
  src/schrodinger/sketcher/rdkit/variable_attachment_bond_core.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_coord_utils.cpp
  test/schrodinger/sketcher/rdkit/test_sgroup.cpp
  test/schrodinger/sketcher/rdkit/test_stereochemistry.cpp
  test/schrodinger/sketcher/rdkit/test_variable_attachment_bond.cpp
  test/schrodinger/sketcher/rdkit/test_variable_attachment_bond_core.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/schrodinger/sketcher/tool/test_move_rotate_scene_tool.cpp
Due: clang-format

Fix an issue where aspect ratio of 2D Overlay was always fixed. SKETCH-2629
  include/schrodinger/sketcher/sketcher_widget.h
  src/schrodinger/sketcher/sketcher_widget.cpp
Due: clang-format

SKETCH-2636: Fixing crash from polymer annotation S-groups (#179)
  include/schrodinger/rdkit_extensions/helm.h
  src/schrodinger/rdkit_extensions/helm/helm_utils.cpp
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  test/schrodinger/rdkit_extensions/test_helm_utils.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
Due: clang-format

remove schedule
  .github/workflows/nightly-build.yml
Due: none

update committer name/email
  .github/workflows/nightly-build.yml
Due: none

BLDMGR-10744 Change nightly merge committer (#189)
  .github/workflows/nightly-build.yml
Due: none

SHARED-11988: Move sketcher-only code out of rdkit_extensions (#188)
  include/schrodinger/rdkit_extensions/coord_utils.h
  include/schrodinger/rdkit_extensions/stereochemistry.h
  src/schrodinger/rdkit_extensions/coord_utils.cpp
  src/schrodinger/rdkit_extensions/stereochemistry.cpp
  src/schrodinger/sketcher/dialog/bracket_subgroup_dialog.cpp
  src/schrodinger/sketcher/menu/atom_context_menu.cpp
  src/schrodinger/sketcher/menu/selection_context_menu.cpp
  src/schrodinger/sketcher/model/mol_model.cpp
  src/schrodinger/sketcher/molviewer/atom_item.cpp
  src/schrodinger/sketcher/molviewer/bond_item.cpp
  src/schrodinger/sketcher/molviewer/constants.h
  src/schrodinger/sketcher/molviewer/coord_utils.cpp
  src/schrodinger/sketcher/molviewer/coord_utils.h
  src/schrodinger/sketcher/molviewer/scene_utils.cpp
  src/schrodinger/sketcher/molviewer/sgroup_item.cpp
  src/schrodinger/sketcher/rdkit/atom_properties.cpp
  src/schrodinger/sketcher/rdkit/coord_utils.cpp
  src/schrodinger/sketcher/rdkit/coord_utils.h
  src/schrodinger/sketcher/rdkit/mol_update.cpp
  src/schrodinger/sketcher/rdkit/sgroup.cpp
  src/schrodinger/sketcher/rdkit/sgroup.h
  src/schrodinger/sketcher/rdkit/stereochemistry.cpp
  src/schrodinger/sketcher/rdkit/stereochemistry.h
  src/schrodinger/sketcher/rdkit/variable_attachment_bond.cpp
  src/schrodinger/sketcher/rdkit/variable_attachment_bond_core.cpp
  src/schrodinger/sketcher/rdkit/variable_attachment_bond_core.h
  test/schrodinger/sketcher/model/test_mol_model.cpp
  test/schrodinger/sketcher/rdkit/test_coord_utils.cpp
  test/schrodinger/sketcher/rdkit/test_sgroup.cpp
  test/schrodinger/sketcher/rdkit/test_stereochemistry.cpp
  test/schrodinger/sketcher/rdkit/test_variable_attachment_bond.cpp
  test/schrodinger/sketcher/rdkit/test_variable_attachment_bond_core.cpp
  test/schrodinger/sketcher/test_sketcher_widget.cpp
  test/schrodinger/sketcher/tool/test_move_rotate_scene_tool.cpp
Due: clang-format

Add build workaround to remove the AGL framework
  CMakeLists.txt
Due: none

Remove dry-run; add ability to manually dispatch an NB
  .github/workflows/nightly-build.yml
Due: none

comment about BLDMGR-10714
  CMakeLists.txt
Due: none

SKETCH-2496: Remove dry-run; add ability to manually dispatch an NB (#191)
  .github/workflows/nightly-build.yml
Due: none

SKETCH-2496: Use cancelled()
  .github/workflows/nightly-build.yml
Due: none

Add build workaround to remove the AGL framework (#190)
  CMakeLists.txt
Due: none

SKETCH-2630: Bump to Qt v6.8.3 (#171)
  CMakeLists.txt
  external/versions.json
  src/schrodinger/sketcher/dialog/file_save_image_dialog.cpp
  src/schrodinger/sketcher/dialog/modal_dialog.cpp
  src/schrodinger/sketcher/dialog/sketcher_welcome_dialog.cpp
  test/wasm/__snapshots__/wasm_api.test.js/sketcher-load.png
  test/wasm/wasm_api.test.js
  wasm/public/wasm_shell.html
Due: clang-format, prettier

Path conditions:
  clang-format: any of: \.(cpp|h)$
  prettier: any of: \.js$
